# Computation of MRT for 2018 to 2021

import cdsapi

c = cdsapi.Client()

c.retrieve(
    'reanalysis-era5-single-levels',
    {
        'product_type': 'reanalysis',
        'variable': [
            'surface_net_solar_radiation', 'surface_net_thermal_radiation',
            'surface_solar_radiation_downwards', 'surface_thermal_radiation_downwards', 'total_sky_direct_solar_radiation_at_surface',
        ],
        'year': [
            '2018', '2019', '2020',
            '2021',
        ],
        'month': [
            '05', '06', '07',
            '08', '09',
        ],
        'day': [
            '01', '02', '03',
            '04', '05', '06',
            '07', '08', '09',
            '10', '11', '12',
            '13', '14', '15',
            '16', '17', '18',
            '19', '20', '21',
            '22', '23', '24',
            '25', '26', '27',
            '28', '29', '30',
            '31',
        ],
        'time': [
            '02:00', '11:00', '16:00',
            '23:00',
        ],
        'area': [
            71.2, -10, 37,
            30,
        ],
        'format': 'netcdf',
    },
    'download18_21_rad.nc')

In [1]:
# import needed libraries
import numpy as np
import pandas as pd
import xarray as xr

C:\Users\benhu\anaconda3\lib\site-packages\xarray\backends\cfgrib_.py:27: UserWarning: Failed to load cfgrib - most likely there is a problem accessing the ecCodes library. Try `import cfgrib` to get the full error message
  warnings.warn(

In [2]:
ds = xr.open_dataset('C:/Users/benhu/MasterThesisRawData/download18_21_rad.nc')
rad_21 = ds.to_dataframe()
rad_21

C:\Users\benhu\anaconda3\lib\site-packages\xarray\backends\plugins.py:61: RuntimeWarning: Engine 'cfgrib' loading failed:
ecCodes library not found using ['eccodes', 'libeccodes.so', 'libeccodes']
  warnings.warn(f"Engine {name!r} loading failed:\n{ex}", RuntimeWarning)

                                                 ssr            str  \
longitude latitude time
-10.0     71.0     2018-05-01 02:00:00  0.000000e+00    2571.312500
                   2018-05-01 11:00:00  8.554971e+05  -84252.531250
                   2018-05-01 16:00:00  9.823199e+05 -154639.562500
                   2018-05-01 23:00:00  2.653750e+02  -86029.500000
                   2018-05-02 02:00:00  0.000000e+00  -47857.937500
...                                              ...            ...
 30.0     37.0     2021-09-29 23:00:00  0.000000e+00 -264086.625000
                   2021-09-30 02:00:00  0.000000e+00 -254066.593750
                   2021-09-30 11:00:00  1.564697e+06 -486946.000000
                   2021-09-30 16:00:00  3.687950e+04 -188056.140625
                   2021-09-30 23:00:00  0.000000e+00 -273152.375000

                                                ssrd          strd  \
longitude latitude time
-10.0     71.0     2018-05-01 02:00:00  0.000000e+00  1.161660e+06
                   2018-05-01 11:00:00  9.105222e+05  1.069003e+06
                   2018-05-01 16:00:00  1.047934e+06  9.978594e+05
                   2018-05-01 23:00:00  2.915000e+02  1.067059e+06
                   2018-05-02 02:00:00  0.000000e+00  1.105658e+06
...                                              ...           ...
 30.0     37.0     2021-09-29 23:00:00  0.000000e+00  9.988711e+05
                   2021-09-30 02:00:00  0.000000e+00  9.822903e+05
                   2021-09-30 11:00:00  2.005971e+06  1.222261e+06
                   2021-09-30 16:00:00  4.751412e+04  1.269996e+06
                   2021-09-30 23:00:00  0.000000e+00  9.933072e+05

                                               fdir
longitude latitude time
-10.0     71.0     2018-05-01 02:00:00        0.000
                   2018-05-01 11:00:00   117100.750
                   2018-05-01 16:00:00   323272.500
                   2018-05-01 23:00:00        0.000
                   2018-05-02 02:00:00        0.000
...                                             ...
 30.0     37.0     2021-09-29 23:00:00        0.000
                   2021-09-30 02:00:00        0.000
                   2021-09-30 11:00:00  1257662.875
                   2021-09-30 16:00:00     9360.000
                   2021-09-30 23:00:00        0.000

[53995536 rows x 5 columns]

In [3]:
# include latitude and logitude as column and round numbers
rad_21 = rad_21.reset_index(level=['longitude', 'latitude', 'time'])
rad_21

,longitude,latitude,time,ssr,str,ssrd,strd,fdir
0,-10.0,71.0,2018-05-01 02:00:00,0.000000e+00,2571.312500,0.000000e+00,1.161660e+06,0.000
1,-10.0,71.0,2018-05-01 11:00:00,8.554971e+05,-84252.531250,9.105222e+05,1.069003e+06,117100.750
2,-10.0,71.0,2018-05-01 16:00:00,9.823199e+05,-154639.562500,1.047934e+06,9.978594e+05,323272.500
3,-10.0,71.0,2018-05-01 23:00:00,2.653750e+02,-86029.500000,2.915000e+02,1.067059e+06,0.000
4,-10.0,71.0,2018-05-02 02:00:00,0.000000e+00,-47857.937500,0.000000e+00,1.105658e+06,0.000
...,...,...,...,...,...,...,...,...
53995531,30.0,37.0,2021-09-29 23:00:00,0.000000e+00,-264086.625000,0.000000e+00,9.988711e+05,0.000
53995532,30.0,37.0,2021-09-30 02:00:00,0.000000e+00,-254066.593750,0.000000e+00,9.822903e+05,0.000
53995533,30.0,37.0,2021-09-30 11:00:00,1.564697e+06,-486946.000000,2.005971e+06,1.222261e+06,1257662.875
53995534,30.0,37.0,2021-09-30 16:00:00,3.687950e+04,-188056.140625,4.751412e+04,1.269996e+06,9360.000
53995535,30.0,37.0,2021-09-30 23:00:00,0.000000e+00,-273152.375000,0.000000e+00,9.933072e+05,0.000

In [4]:
# convert from J mÂ² to W mÂ²
rad_21['ssr'] = rad_21['ssr'] / 3600
rad_21['str'] = rad_21['str'] / 3600
rad_21['ssrd'] = rad_21['ssrd'] / 3600
rad_21['strd'] = rad_21['strd'] / 3600
rad_21['fdir'] = rad_21['fdir'] / 3600

In [5]:
# load obtained locations for the coordinates
locations = pd.read_csv('locations1.csv', index_col=0)
# merging locations with weather data
rad_21 = pd.merge(rad_21, locations,  how='left', left_on=['latitude','longitude'], right_on = ['lat','lon'])

In [6]:
rad_21.shape

(53995536, 14)

In [7]:
# drop observations that are not assigned to a country (probably coordinates on water)
rad_21 = rad_21.dropna(subset=['country'])
rad_21.shape

(2829888, 14)

In [8]:
rad_21

,longitude,latitude,time,ssr,str,ssrd,strd,fdir,lat,lon,country,NUTS1,NUTS2,NUTS3
164016,-10.00,54.25,2018-05-01 02:00:00,0.000000,-33.184029,0.000000,322.204620,0.000000,54.25,-10.00,IE,IE0,IE04,IE042
164017,-10.00,54.25,2018-05-01 11:00:00,77.959793,-8.042543,84.048508,353.057526,0.139792,54.25,-10.00,IE,IE0,IE04,IE042
164018,-10.00,54.25,2018-05-01 16:00:00,64.944374,-11.081823,70.137573,352.917023,0.000000,54.25,-10.00,IE,IE0,IE04,IE042
164019,-10.00,54.25,2018-05-01 23:00:00,0.000000,-57.905048,0.000000,295.329620,0.000000,54.25,-10.00,IE,IE0,IE04,IE042
164020,-10.00,54.25,2018-05-02 02:00:00,0.000000,-74.742210,0.000000,274.513672,0.000000,54.25,-10.00,IE,IE0,IE04,IE042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53417803,29.75,61.75,2021-09-29 23:00:00,0.000000,-14.079974,0.000000,334.717896,0.000000,61.75,29.75,FI,FI1,FI1C,FI1C5
53417804,29.75,61.75,2021-09-30 02:00:00,0.000000,-20.930920,0.000000,325.888367,0.000000,61.75,29.75,FI,FI1,FI1C,FI1C5
53417805,29.75,61.75,2021-09-30 11:00:00,97.018608,-16.739914,106.169930,342.664917,2.809688,61.75,29.75,FI,FI1,FI1C,FI1C5
53417806,29.75,61.75,2021-09-30 16:00:00,2.314167,-17.580860,2.542500,336.065826,0.153785,61.75,29.75,FI,FI1,FI1C,FI1C5
53417807,29.75,61.75,2021-09-30 23:00:00,0.000000,-30.652058,0.000000,315.118164,0.000000,61.75,29.75,FI,FI1,FI1C,FI1C5

In [9]:
# computing first components for MRT formula (equation number according to equation numbers in Di Napoli et al., 2020)
# upwelling thermal component (equation 3)
rad_21['stru'] = rad_21['strd']-rad_21['str']
# compute diffuse solar radiation flux (equation 4)
rad_21['fdif'] = rad_21['ssrd']-rad_21['fdir']
# compute surface-reflected solar radiation flux (equation 5)
rad_21['ssru'] = rad_21['ssrd']-rad_21['ssr']

In [10]:
# convert time to datetime
rad_21['time'] = pd.to_datetime(rad_21['time'])

In [11]:
# get day, month, year and hour from datetime object
rad_21['day'] = rad_21.time.dt.day
rad_21['month'] = rad_21.time.dt.month
rad_21['year'] = rad_21.time.dt.year
rad_21['hour'] = rad_21.time.dt.hour

In [12]:
# get Day of Year from date
rad_21['date'] = pd.to_datetime(rad_21['time']).dt.date
rad_21['date'] = pd.to_datetime(rad_21['date'])
rad_21['DOY'] = rad_21['date'].dt.dayofyear

In [13]:
# formula sun declination: https://www.pveducation.org/pvcdrom/properties-of-sunlight/declination-angle#footnote1_soeo4fz
rad_21['sda'] = -23.45*np.cos(np.radians(360/365*(rad_21['DOY']+10)))

In [14]:
# sunrise (multiplied by pi over 180 to get radians)
rad_21['sunrise'] = -np.tan(rad_21['latitude']*(np.pi/180))*np.tan(rad_21['sda']*(np.pi/180))
rad_21['sunrise'] = np.arccos(rad_21['sunrise'])
rad_21['sunrise'] = np.degrees(-rad_21['sunrise'])

#sunset
rad_21['sunset'] = -np.tan(rad_21['latitude']*(np.pi/180))*np.tan(rad_21['sda']*(np.pi/180))
rad_21['sunset'] = np.arccos(rad_21['sunset'])
rad_21['sunset'] = np.degrees(rad_21['sunset'])

C:\Users\benhu\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: invalid value encountered in arccos
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [15]:
# reading UTC per NUTS thats obtained from the Notebook for 2000-2001
NUTS_time_zone = pd.read_csv('NUTS_time_zone.csv')
rad_21 = rad_21.merge(NUTS_time_zone, how='inner', on=['NUTS1'])
rad_21.head()

,longitude,latitude,time,ssr,str,ssrd,strd,fdir,lat,lon,...,year,hour,date,DOY,sda,sunrise,sunset,Unnamed: 0,time_zone,time_zone_UTC
0,-10.0,54.25,2018-05-01 02:00:00,0.000000,-33.184029,0.000000,322.204620,0.000000,54.25,-10.0,...,2018,2,2018-05-01,121,14.822825,-111.567978,111.567978,82008,Europe/Dublin,1.0
1,-10.0,54.25,2018-05-01 11:00:00,77.959793,-8.042543,84.048508,353.057526,0.139792,54.25,-10.0,...,2018,11,2018-05-01,121,14.822825,-111.567978,111.567978,82008,Europe/Dublin,1.0
2,-10.0,54.25,2018-05-01 16:00:00,64.944374,-11.081823,70.137573,352.917023,0.000000,54.25,-10.0,...,2018,16,2018-05-01,121,14.822825,-111.567978,111.567978,82008,Europe/Dublin,1.0
3,-10.0,54.25,2018-05-01 23:00:00,0.000000,-57.905048,0.000000,295.329620,0.000000,54.25,-10.0,...,2018,23,2018-05-01,121,14.822825,-111.567978,111.567978,82008,Europe/Dublin,1.0
4,-10.0,54.25,2018-05-02 02:00:00,0.000000,-74.742210,0.000000,274.513672,0.000000,54.25,-10.0,...,2018,2,2018-05-02,122,15.133413,-112.065964,112.065964,82008,Europe/Dublin,1.0

In [16]:
rad_21['time_zone_UTC'].value_counts()

2.0    2281536
3.0     648720
1.0     239904
Name: time_zone_UTC, dtype: int64

In [17]:
rad_21.head(3)

,longitude,latitude,time,ssr,str,ssrd,strd,fdir,lat,lon,...,year,hour,date,DOY,sda,sunrise,sunset,Unnamed: 0,time_zone,time_zone_UTC
0,-10.0,54.25,2018-05-01 02:00:00,0.000000,-33.184029,0.000000,322.204620,0.000000,54.25,-10.0,...,2018,2,2018-05-01,121,14.822825,-111.567978,111.567978,82008,Europe/Dublin,1.0
1,-10.0,54.25,2018-05-01 11:00:00,77.959793,-8.042543,84.048508,353.057526,0.139792,54.25,-10.0,...,2018,11,2018-05-01,121,14.822825,-111.567978,111.567978,82008,Europe/Dublin,1.0
2,-10.0,54.25,2018-05-01 16:00:00,64.944374,-11.081823,70.137573,352.917023,0.000000,54.25,-10.0,...,2018,16,2018-05-01,121,14.822825,-111.567978,111.567978,82008,Europe/Dublin,1.0

In [18]:
# calculate hour angle at given hour (https://solarsena.com/solar-hour-angle-calculator-formula/)
# STEP 1: get fractional year in radians
rad_21['year_fraction'] = ((2*np.pi)/365)*(rad_21['DOY']-1+((rad_21['hour']-12)/24))
# STEP 2: use equation of time
rad_21['EOT'] = 229.18*(0.000075+0.001868*np.cos(rad_21['year_fraction'])
                    -0.032077*np.sin(rad_21['year_fraction'])
                    -0.014615*np.cos(2*rad_21['year_fraction'])
                    -0.040849*np.sin(2*rad_21['year_fraction']))
# STEP 3: compute offset
rad_21['offset'] = rad_21['EOT']+4*(rad_21['longitude']-15*rad_21['time_zone_UTC'])
# STEP 4: compute corrected local solar time
rad_21['hour_corrected'] = rad_21['hour']+rad_21['offset']/60
# STEP 5: get solar hour angle
rad_21['sha'] = 15*(rad_21['hour_corrected']-12)

In [19]:
# get solar zenith angle (https://en.wikipedia.org/wiki/Solar_zenith_angle)
rad_21['z_angle'] = np.sin(np.radians(rad_21['latitude']))*np.sin(np.radians(rad_21['sda']))+(np.cos(np.radians(rad_21['latitude']))*np.cos(np.radians(rad_21['sda']))*np.cos(np.radians(rad_21['sha'])))
rad_21['z_angle'] = np.arccos(rad_21['z_angle'])
rad_21['z_angle'] = np.degrees(rad_21['z_angle'])
rad_21.sort_values(by='z_angle')

,longitude,latitude,time,ssr,str,ssrd,strd,fdir,lat,lon,...,sunset,Unnamed: 0,time_zone,time_zone_UTC,year_fraction,EOT,offset,hour_corrected,sha,z_angle
281146,-7.00,37.75,2021-06-29 16:00:00,644.388062,-167.703110,753.003418,354.317627,648.197205,37.75,-7.00,...,109.434893,2175048,Europe/Madrid,2.0,3.084212,-3.087233,-151.087233,13.481879,22.228192,23.910155
279922,-7.00,37.75,2019-06-29 16:00:00,627.820251,-159.668442,732.371826,398.289734,628.235962,37.75,-7.00,...,109.434893,2175048,Europe/Madrid,2.0,3.084212,-3.087233,-151.087233,13.481879,22.228192,23.910155
279310,-7.00,37.75,2018-06-29 16:00:00,595.746033,-129.298477,695.707947,387.528290,566.003662,37.75,-7.00,...,109.434893,2175048,Europe/Madrid,2.0,3.084212,-3.087233,-151.087233,13.481879,22.228192,23.910155
280530,-7.00,37.75,2020-06-28 16:00:00,626.567383,-151.249863,730.736267,399.804474,625.524109,37.75,-7.00,...,109.434893,2175048,Europe/Madrid,2.0,3.084212,-3.087233,-151.087233,13.481879,22.228192,23.910155
279314,-7.00,37.75,2018-06-30 16:00:00,408.828278,-52.822823,480.501587,407.909576,240.010941,37.75,-7.00,...,109.381022,2175048,Europe/Madrid,2.0,3.101426,-3.293189,-151.293189,13.478447,22.176703,23.912721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290696,-5.50,37.00,2020-09-30 02:00:00,0.000000,-72.315361,0.000000,319.851257,0.000000,37.00,-5.50,...,86.891338,2175048,Europe/Madrid,2.0,4.692306,10.329351,-131.670649,-0.194511,-182.917662,147.007405
298040,-4.75,37.00,2020-09-30 02:00:00,0.000000,-72.438759,0.000000,304.791412,0.000000,37.00,-4.75,...,86.891338,2175048,Europe/Madrid,2.0,4.692306,10.329351,-128.670649,-0.144511,-182.167662,147.056109
302936,-4.00,37.00,2020-09-30 02:00:00,0.000000,-67.283401,0.000000,309.708923,0.000000,37.00,-4.00,...,86.891338,2175048,Europe/Madrid,2.0,4.692306,10.329351,-125.670649,-0.094511,-181.417662,147.090492
307832,-3.25,37.00,2020-09-30 02:00:00,0.000000,-68.412277,0.000000,300.471039,0.000000,37.00,-3.25,...,86.891338,2175048,Europe/Madrid,2.0,4.692306,10.329351,-122.670649,-0.044511,-180.667662,147.110507
312728,-2.50,37.00,2020-09-30 02:00:00,0.000000,-70.386673,0.000000,312.852600,0.000000,37.00,-2.50,...,86.891338,2175048,Europe/Madrid,2.0,4.692306,10.329351,-119.670649,0.005489,-179.917662,147.116127

In [20]:
# get solar elevation angle (equation 16)
rad_21['elevation'] = 90 - rad_21['z_angle']

In [21]:
# get surface projection factor (equation 15)
a = rad_21['elevation'] * (0.998-rad_21['elevation']**2/50000)
rad_21['f_p'] = 0.308*np.cos(a)
rad_21.head()

,longitude,latitude,time,ssr,str,ssrd,strd,fdir,lat,lon,...,time_zone,time_zone_UTC,year_fraction,EOT,offset,hour_corrected,sha,z_angle,elevation,f_p
0,-10.0,54.25,2018-05-01 02:00:00,0.000000,-33.184029,0.000000,322.204620,0.000000,54.25,-10.0,...,Europe/Dublin,1.0,2.058532,2.951901,-97.048099,0.382532,-174.262025,110.753680,-20.753680,-0.034743
1,-10.0,54.25,2018-05-01 11:00:00,77.959793,-8.042543,84.048508,353.057526,0.139792,54.25,-10.0,...,Europe/Dublin,1.0,2.064987,3.003010,-96.996990,9.383383,-39.249248,49.833382,40.166618,0.142142
2,-10.0,54.25,2018-05-01 16:00:00,64.944374,-11.081823,70.137573,352.917023,0.000000,54.25,-10.0,...,Europe/Dublin,1.0,2.068574,3.030828,-96.969172,14.383847,35.757707,48.243695,41.756305,-0.249952
3,-10.0,54.25,2018-05-01 23:00:00,0.000000,-57.905048,0.000000,295.329620,0.000000,54.25,-10.0,...,Europe/Dublin,1.0,2.073595,3.069081,-96.930919,21.384485,140.767270,103.289076,-13.289076,0.245345
4,-10.0,54.25,2018-05-02 02:00:00,0.000000,-74.742210,0.000000,274.513672,0.000000,54.25,-10.0,...,Europe/Dublin,1.0,2.075746,3.085227,-96.914773,0.384754,-174.228693,110.441685,-20.441685,0.058285

In [22]:
# insepct observations with NaN in sunrise
pd.set_option('display.max_columns', None)
gg = rad_21[rad_21['sunrise'].isnull()]
gg.shape

(99360, 37)

In [23]:
gg[gg['latitude'] < 68]

,longitude,latitude,time,ssr,str,ssrd,strd,fdir,lat,lon,country,NUTS1,NUTS2,NUTS3,stru,fdif,ssru,day,month,year,hour,date,DOY,sda,sunrise,sunset,Unnamed: 0,time_zone,time_zone_UTC,year_fraction,EOT,offset,hour_corrected,sha,z_angle,elevation,f_p
1084792,14.00,67.00,2018-06-11 02:00:00,8.902951,-7.503238,9.748959,327.710449,0.279583,67.00,14.00,NO,NO0,NO07,NO071,335.213684,9.469376,0.846007,11,6,2018,2,2018-06-11,162,23.067983,NaN,NaN,10110240,Europe/Oslo,2.0,2.764315,0.883145,-63.116855,0.948052,-165.779214,89.300826,0.699174,0.236014
1084793,14.00,67.00,2018-06-11 02:00:00,8.902951,-7.503238,9.748959,327.710449,0.279583,67.00,14.00,NO,NO0,NO07,NO071,335.213684,9.469376,0.846007,11,6,2018,2,2018-06-11,162,23.067983,NaN,NaN,17626824,Europe/Stockholm,2.0,2.764315,0.883145,-63.116855,0.948052,-165.779214,89.300826,0.699174,0.236014
1084794,14.00,67.00,2018-06-11 11:00:00,254.412170,-34.577988,281.716339,321.247467,64.385002,67.00,14.00,NO,NO0,NO07,NO071,355.825439,217.331329,27.304169,11,6,2018,11,2018-06-11,162,23.067983,NaN,NaN,10110240,Europe/Oslo,2.0,2.770770,0.808301,-63.191699,9.946805,-30.797925,47.973990,42.026010,-0.285655
1084795,14.00,67.00,2018-06-11 11:00:00,254.412170,-34.577988,281.716339,321.247467,64.385002,67.00,14.00,NO,NO0,NO07,NO071,355.825439,217.331329,27.304169,11,6,2018,11,2018-06-11,162,23.067983,NaN,NaN,17626824,Europe/Stockholm,2.0,2.770770,0.808301,-63.191699,9.946805,-30.797925,47.973990,42.026010,-0.285655
1084796,14.00,67.00,2018-06-11 16:00:00,169.170837,-29.162119,185.781219,324.597504,43.515102,67.00,14.00,NO,NO0,NO07,NO071,353.759613,142.266113,16.610382,11,6,2018,16,2018-06-11,162,23.067983,NaN,NaN,10110240,Europe/Oslo,2.0,2.774356,0.766497,-63.233503,14.946108,44.191624,51.798222,38.201778,0.237788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819763,29.75,67.75,2021-07-09 23:00:00,0.604340,-37.077969,0.696354,348.495667,0.055903,67.75,29.75,FI,FI1,FI1D,FI1D7,385.573639,0.640451,0.092014,9,7,2021,23,2021-07-09,190,22.393970,NaN,NaN,21137256,Europe/Helsinki,3.0,3.261375,-5.004555,-66.004555,21.899924,148.498861,86.898436,3.101564,-0.307662
2819764,29.75,67.75,2021-07-10 02:00:00,45.487606,-35.304668,52.194271,352.258423,10.344097,67.75,29.75,FI,FI1,FI1D,FI1D7,387.563080,41.850174,6.706665,10,7,2021,2,2021-07-10,191,22.270883,NaN,NaN,21137256,Europe/Helsinki,3.0,3.263527,-5.024408,-66.024408,0.899593,-166.506102,89.424889,0.575111,0.258646
2819765,29.75,67.75,2021-07-10 11:00:00,484.326508,-77.488991,552.291016,359.999084,401.784180,67.75,29.75,FI,FI1,FI1D,FI1D7,437.488068,150.506836,67.964508,10,7,2021,11,2021-07-10,191,22.270883,NaN,NaN,21137256,Europe/Helsinki,3.0,3.269982,-5.083365,-66.083365,9.898611,-31.520841,49.498547,40.501453,0.054597
2819766,29.75,67.75,2021-07-10 16:00:00,202.453720,-63.060398,231.400589,375.511169,123.430206,67.75,29.75,FI,FI1,FI1D,FI1D7,438.571564,107.970383,28.946869,10,7,2021,16,2021-07-10,191,22.270883,NaN,NaN,21137256,Europe/Helsinki,3.0,3.273568,-5.115725,-66.115725,14.898071,43.471069,52.766734,37.233266,-0.000572
2819767,29.75,67.75,2021-07-10 23:00:00,0.574861,-72.205666,0.647778,319.232178,0.111840,67.75,29.75,FI,FI1,FI1D,FI1D7,391.437836,0.535938,0.072917,10,7,2021,23,2021-07-10,191,22.270883,NaN,NaN,21137256,Europe/Helsinki,3.0,3.278589,-5.160549,-66.160549,21.897324,148.459863,87.011929,2.988071,-0.304064

Only observations above the arctic circle have missing values in the sunrise and sunset hour angle columns between June 10 and July 2. This is because in these places the sun does not set in this time period. The NaN will be set to 0.

In [24]:
# fill NaN with the maximum possible value
rad_21['sunrise'] = rad_21['sunrise'].fillna(-179.99)
rad_21['sunset'] = rad_21['sunset'].fillna(179.99)
rad_21[rad_21['sunrise'].isnull()]

Empty DataFrame
Columns: [longitude, latitude, time, ssr, str, ssrd, strd, fdir, lat, lon, country, NUTS1, NUTS2, NUTS3, stru, fdif, ssru, day, month, year, hour, date, DOY, sda, sunrise, sunset, Unnamed: 0, time_zone, time_zone_UTC, year_fraction, EOT, offset, hour_corrected, sha, z_angle, elevation, f_p]
Index: []

In [25]:
# testing whether NaN were filled correctly
o = rad_21[(rad_21['latitude'] == 68) & (rad_21['month'] == 6) & (rad_21['day'] == 21)]
o.head()

Empty DataFrame
Columns: [longitude, latitude, time, ssr, str, ssrd, strd, fdir, lat, lon, country, NUTS1, NUTS2, NUTS3, stru, fdif, ssru, day, month, year, hour, date, DOY, sda, sunrise, sunset, Unnamed: 0, time_zone, time_zone_UTC, year_fraction, EOT, offset, hour_corrected, sha, z_angle, elevation, f_p]
Index: []

In [26]:
# compute average daytime cosine of solar zenith angle (equation 12)
rad_21['cos_teta'] = np.sin(np.radians(rad_21['sda']))*np.sin(np.radians(rad_21['latitude']))+(1/rad_21['sunset']-rad_21['sunrise'])*np.cos(np.radians(rad_21['sda']))*np.cos(np.radians(rad_21['latitude']))*(np.sin(np.radians(rad_21['sunset']))-np.sin(np.radians(rad_21['sunrise'])))

In [27]:
# get direct component I*
rad_21['I_asterisk'] = rad_21['fdir']/rad_21['cos_teta']

In [28]:
from scipy.constants import Stefan_Boltzmann

In [29]:
Stefan_Boltzmann

5.670374419e-08

In [30]:
# get MRT (equation 14)
rad_21['MRT'] = 1/Stefan_Boltzmann*(0.5*rad_21['strd']+0.5*rad_21['stru']+(0.7/0.97)*(0.5*rad_21['fdif']+0.5*rad_21['ssru']+rad_21['f_p']*rad_21['I_asterisk']))
rad_21['MRT'] = rad_21['MRT']**0.25
# get Celsius
rad_21['MRT'] = rad_21['MRT'] - 273.15

In [31]:
rad_21.tail(5)

,longitude,latitude,time,ssr,str,ssrd,strd,fdir,lat,lon,country,NUTS1,NUTS2,NUTS3,stru,fdif,ssru,day,month,year,hour,date,DOY,sda,sunrise,sunset,Unnamed: 0,time_zone,time_zone_UTC,year_fraction,EOT,offset,hour_corrected,sha,z_angle,elevation,f_p,cos_teta,I_asterisk,MRT
3170155,26.75,37.75,2021-09-29 23:00:00,0.000000,-97.772202,0.000000,326.968445,0.000000,37.75,26.75,EL,EL4,EL41,EL412,424.740662,0.000000,0.000000,29,9,2021,23,2021-09-29,272,-3.319120,-87.426319,87.426319,24302520,Europe/Athens,3.0,4.672940,9.947174,-63.052826,21.949120,149.236794,135.539740,-45.539740,0.280916,137.865614,0.000000,12.183011
3170156,26.75,37.75,2021-09-30 02:00:00,0.000000,-102.260284,0.000000,322.362671,0.000000,37.75,26.75,EL,EL4,EL41,EL412,424.622955,0.000000,0.000000,30,9,2021,2,2021-09-30,273,-3.718218,-87.115782,87.115782,24302520,Europe/Athens,3.0,4.675092,9.989977,-63.010023,0.949833,-165.752506,143.557959,-53.557959,0.306043,137.277343,0.000000,11.733718
3170157,26.75,37.75,2021-09-30 11:00:00,713.120544,-101.611290,746.525696,321.098206,626.111206,37.75,26.75,EL,EL4,EL41,EL412,422.709503,120.414490,33.405151,30,9,2021,11,2021-09-30,273,-3.718218,-87.115782,87.115782,24302520,Europe/Athens,3.0,4.681547,10.117885,-62.882115,9.951965,-30.720529,50.312593,39.687407,0.243564,137.277343,4.560922,21.638556
3170158,26.75,37.75,2021-09-30 16:00:00,40.918194,-94.833473,45.846111,328.171478,22.687119,37.75,26.75,EL,EL4,EL41,EL412,423.004944,23.158993,4.927917,30,9,2021,16,2021-09-30,273,-3.718218,-87.115782,87.115782,24302520,Europe/Athens,3.0,4.685133,10.188615,-62.811385,14.953144,44.297154,58.330078,31.669922,0.278053,137.277343,0.165265,14.043885
3170159,26.75,37.75,2021-09-30 23:00:00,0.000000,-100.998871,0.000000,321.572357,0.000000,37.75,26.75,EL,EL4,EL41,EL412,422.571228,0.000000,0.000000,30,9,2021,23,2021-09-30,273,-3.718218,-87.115782,87.115782,24302520,Europe/Athens,3.0,4.690154,10.287233,-62.712767,21.954787,149.321808,135.914340,-45.914340,0.306592,137.277343,0.000000,11.462357

In [32]:
rad_21.shape

(3170160, 40)

In [33]:
pd.set_option('display.max_columns', None)
gg = rad_21[rad_21['MRT'].isnull()]
gg.head()

Empty DataFrame
Columns: [longitude, latitude, time, ssr, str, ssrd, strd, fdir, lat, lon, country, NUTS1, NUTS2, NUTS3, stru, fdif, ssru, day, month, year, hour, date, DOY, sda, sunrise, sunset, Unnamed: 0, time_zone, time_zone_UTC, year_fraction, EOT, offset, hour_corrected, sha, z_angle, elevation, f_p, cos_teta, I_asterisk, MRT]
Index: []

In [34]:
rad_21[rad_21['sunrise'] == -179.99]

,longitude,latitude,time,ssr,str,ssrd,strd,fdir,lat,lon,country,NUTS1,NUTS2,NUTS3,stru,fdif,ssru,day,month,year,hour,date,DOY,sda,sunrise,sunset,Unnamed: 0,time_zone,time_zone_UTC,year_fraction,EOT,offset,hour_corrected,sha,z_angle,elevation,f_p,cos_teta,I_asterisk,MRT
1084792,14.00,67.00,2018-06-11 02:00:00,8.902951,-7.503238,9.748959,327.710449,0.279583,67.00,14.00,NO,NO0,NO07,NO071,335.213684,9.469376,0.846007,11,6,2018,2,2018-06-11,162,23.067983,-179.99,179.99,10110240,Europe/Oslo,2.0,2.764315,0.883145,-63.116855,0.948052,-165.779214,89.300826,0.699174,0.236014,0.383262,0.729484,4.155294
1084793,14.00,67.00,2018-06-11 02:00:00,8.902951,-7.503238,9.748959,327.710449,0.279583,67.00,14.00,NO,NO0,NO07,NO071,335.213684,9.469376,0.846007,11,6,2018,2,2018-06-11,162,23.067983,-179.99,179.99,17626824,Europe/Stockholm,2.0,2.764315,0.883145,-63.116855,0.948052,-165.779214,89.300826,0.699174,0.236014,0.383262,0.729484,4.155294
1084794,14.00,67.00,2018-06-11 11:00:00,254.412170,-34.577988,281.716339,321.247467,64.385002,67.00,14.00,NO,NO0,NO07,NO071,355.825439,217.331329,27.304169,11,6,2018,11,2018-06-11,162,23.067983,-179.99,179.99,10110240,Europe/Oslo,2.0,2.770770,0.808301,-63.191699,9.946805,-30.797925,47.973990,42.026010,-0.285655,0.383262,167.992226,15.231569
1084795,14.00,67.00,2018-06-11 11:00:00,254.412170,-34.577988,281.716339,321.247467,64.385002,67.00,14.00,NO,NO0,NO07,NO071,355.825439,217.331329,27.304169,11,6,2018,11,2018-06-11,162,23.067983,-179.99,179.99,17626824,Europe/Stockholm,2.0,2.770770,0.808301,-63.191699,9.946805,-30.797925,47.973990,42.026010,-0.285655,0.383262,167.992226,15.231569
1084796,14.00,67.00,2018-06-11 16:00:00,169.170837,-29.162119,185.781219,324.597504,43.515102,67.00,14.00,NO,NO0,NO07,NO071,353.759613,142.266113,16.610382,11,6,2018,16,2018-06-11,162,23.067983,-179.99,179.99,10110240,Europe/Oslo,2.0,2.774356,0.766497,-63.233503,14.946108,44.191624,51.798222,38.201778,0.237788,0.383262,113.538847,19.512690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819763,29.75,67.75,2021-07-09 23:00:00,0.604340,-37.077969,0.696354,348.495667,0.055903,67.75,29.75,FI,FI1,FI1D,FI1D7,385.573639,0.640451,0.092014,9,7,2021,23,2021-07-09,190,22.393970,-179.99,179.99,21137256,Europe/Helsinki,3.0,3.261375,-5.004555,-66.004555,21.899924,148.498861,86.898436,3.101564,-0.307662,0.374602,0.149232,10.538801
2819764,29.75,67.75,2021-07-10 02:00:00,45.487606,-35.304668,52.194271,352.258423,10.344097,67.75,29.75,FI,FI1,FI1D,FI1D7,387.563080,41.850174,6.706665,10,7,2021,2,2021-07-10,191,22.270883,-179.99,179.99,21137256,Europe/Helsinki,3.0,3.263527,-5.024408,-66.024408,0.899593,-166.506102,89.424889,0.575111,0.258646,0.372783,27.748328,15.311297
2819765,29.75,67.75,2021-07-10 11:00:00,484.326508,-77.488991,552.291016,359.999084,401.784180,67.75,29.75,FI,FI1,FI1D,FI1D7,437.488068,150.506836,67.964508,10,7,2021,11,2021-07-10,191,22.270883,-179.99,179.99,21137256,Europe/Helsinki,3.0,3.269982,-5.083365,-66.083365,9.898611,-31.520841,49.498547,40.501453,0.054597,0.372783,1077.797219,36.310966
2819766,29.75,67.75,2021-07-10 16:00:00,202.453720,-63.060398,231.400589,375.511169,123.430206,67.75,29.75,FI,FI1,FI1D,FI1D7,438.571564,107.970383,28.946869,10,7,2021,16,2021-07-10,191,22.270883,-179.99,179.99,21137256,Europe/Helsinki,3.0,3.273568,-5.115725,-66.115725,14.898071,43.471069,52.766734,37.233266,-0.000572,0.372783,331.104956,26.360147
2819767,29.75,67.75,2021-07-10 23:00:00,0.574861,-72.205666,0.647778,319.232178,0.111840,67.75,29.75,FI,FI1,FI1D,FI1D7,391.437836,0.535938,0.072917,10,7,2021,23,2021-07-10,191,22.270883,-179.99,179.99,21137256,Europe/Helsinki,3.0,3.278589,-5.160549,-66.160549,21.897324,148.459863,87.011929,2.988071,-0.304064,0.372783,0.300015,8.236700

In [35]:
# get daily means per location for other variables than MRT
t = rad_21[['longitude','latitude', 'date', 'ssr','str', 'ssrd', 'strd', 'fdir']].groupby(['longitude','latitude', 'date']).mean()
t = t.reset_index(level=['longitude', 'latitude', 'date'])

In [36]:
# keep only relevant variables
MRT = rad_21[['MRT','date','longitude','latitude', 'time','hour']]

In [37]:
MRT

               MRT       date  longitude  latitude                time  hour
0         4.873711 2018-05-01     -10.00     54.25 2018-05-01 02:00:00     2
1        14.747893 2018-05-01     -10.00     54.25 2018-05-01 11:00:00    11
2        14.022165 2018-05-01     -10.00     54.25 2018-05-01 16:00:00    16
3         1.846918 2018-05-01     -10.00     54.25 2018-05-01 23:00:00    23
4        -0.819921 2018-05-02     -10.00     54.25 2018-05-02 02:00:00     2
...            ...        ...        ...       ...                 ...   ...
3170155  12.183011 2021-09-29      26.75     37.75 2021-09-29 23:00:00    23
3170156  11.733718 2021-09-30      26.75     37.75 2021-09-30 02:00:00     2
3170157  21.638556 2021-09-30      26.75     37.75 2021-09-30 11:00:00    11
3170158  14.043885 2021-09-30      26.75     37.75 2021-09-30 16:00:00    16
3170159  11.462357 2021-09-30      26.75     37.75 2021-09-30 23:00:00    23

[3170160 rows x 6 columns]

# Convert Data from hourly to daily

In [38]:
# sub frames per hour
sub2am = MRT[MRT['hour'] == 2]
sub11am = MRT[MRT['hour'] == 11]
sub16am = MRT[MRT['hour'] == 16]
sub23am = MRT[MRT['hour'] == 23]

In [39]:
# rename columns by hour
sub2am = sub2am.rename(columns={"MRT": "MRT_2AM"})
sub11am = sub11am.rename(columns={"MRT": "MRT_11AM"})
sub16am = sub16am.rename(columns={"MRT": "MRT_4PM"})
sub23am = sub23am.rename(columns={"MRT": "MRT_11PM"})

In [40]:
# dropping time and hour variables
sub2am = sub2am.drop(['hour','time'],1)
sub11am = sub11am.drop(['hour','time'],1)
sub16am = sub16am.drop(['hour','time'],1)
sub23am = sub23am.drop(['hour','time'],1)

In [41]:
# merging subsets of data per hour
df1 = sub2am.merge(sub11am, how='inner', on=['date','latitude', 'longitude'])
df2 = df1.merge(sub16am, how='inner', on=['date','latitude', 'longitude'])
final02_21 = df2.merge(sub23am, how='inner', on=['date','latitude', 'longitude'])

In [42]:
# daily data has been obtained
final02_21

,MRT_2AM,date,longitude,latitude,MRT_11AM,MRT_4PM,MRT_11PM
0,4.873711,2018-05-01,-10.00,54.25,14.747893,14.022165,1.846918
1,-0.819921,2018-05-02,-10.00,54.25,14.760999,13.943957,4.522056
2,5.589136,2018-05-03,-10.00,54.25,16.285296,25.544704,4.614658
3,9.366236,2018-05-04,-10.00,54.25,29.103781,27.716934,9.340960
4,9.279763,2018-05-05,-10.00,54.25,24.732857,22.790839,10.048094
...,...,...,...,...,...,...,...
1983487,13.022082,2021-09-26,26.75,37.75,23.337139,15.859111,13.287440
1983488,12.781898,2021-09-27,26.75,37.75,23.089259,15.591375,12.333219
1983489,11.980130,2021-09-28,26.75,37.75,22.601473,15.721075,12.940635
1983490,12.751795,2021-09-29,26.75,37.75,23.215889,15.471781,12.183011
1983491,11.733718,2021-09-30,26.75,37.75,21.638556,14.043885,11.462357

In [43]:
# merge with other variables
final_rad_21 = t.merge(final02_21, how='inner', on=['date','latitude', 'longitude'])

In [44]:
final_rad_21

,longitude,latitude,date,ssr,str,ssrd,strd,fdir,MRT_2AM,MRT_11AM,MRT_4PM,MRT_11PM
0,-10.00,52.00,2018-05-01,45.332832,-17.255222,51.821815,341.185272,0.408872,4.125651,16.759680,17.916715,5.142840
1,-10.00,52.00,2018-05-02,258.307220,-68.701355,296.275024,290.965332,212.183228,0.563811,20.702260,18.762784,1.682556
2,-10.00,52.00,2018-05-03,66.897430,-17.280354,77.340012,348.269531,0.905113,4.301591,22.119571,22.751982,7.401293
3,-10.00,52.00,2018-05-04,196.377167,-30.397261,226.716400,348.721802,96.203568,8.128160,31.485950,31.206503,8.643503
4,-10.00,52.00,2018-05-05,193.937698,-40.137814,221.744751,337.578369,109.007874,9.129100,32.227327,25.820383,2.416094
...,...,...,...,...,...,...,...,...,...,...,...,...
1983487,29.75,67.75,2021-09-26,45.900322,-32.290527,51.611294,307.242493,23.382551,-1.408971,12.938473,3.108157,1.622859
1983488,29.75,67.75,2021-09-27,59.593765,-56.520233,66.963509,290.297974,40.565628,-1.252455,14.151690,0.844228,-1.900723
1983489,29.75,67.75,2021-09-28,47.127430,-67.362244,52.878490,281.687958,15.928515,-3.142988,15.657077,1.396453,-2.352378
1983490,29.75,67.75,2021-09-29,43.737232,-47.021904,49.724651,297.887146,24.060503,-3.841245,12.495654,3.377237,1.708245
1983491,29.75,67.75,2021-09-30,25.142735,-11.309195,28.230738,330.969421,2.351884,4.150796,12.578623,4.138532,5.081804

In [45]:
# describe MRT at 4PM
final_rad_21['MRT_4PM'].describe()

count    1.983492e+06
mean     2.024702e+01
std      8.946189e+00
min     -5.070571e+01
25%      1.469453e+01
50%      2.057002e+01
75%      2.623329e+01
max      5.619333e+01
Name: MRT_4PM, dtype: float64

In [46]:
final_rad_21['MRT_4PM'].corr(final_rad_21['latitude'])

-0.5805884259077978

In [47]:
# rounding
final_rad_21 = final_rad_21.round(decimals=2)
final_rad_21

,longitude,latitude,date,ssr,str,ssrd,strd,fdir,MRT_2AM,MRT_11AM,MRT_4PM,MRT_11PM
0,-10.00,52.00,2018-05-01,45.330002,-17.260000,51.820000,341.190002,0.410000,4.13,16.76,17.92,5.14
1,-10.00,52.00,2018-05-02,258.309998,-68.699997,296.279999,290.970001,212.179993,0.56,20.70,18.76,1.68
2,-10.00,52.00,2018-05-03,66.900002,-17.280001,77.339996,348.269989,0.910000,4.30,22.12,22.75,7.40
3,-10.00,52.00,2018-05-04,196.380005,-30.400000,226.720001,348.720001,96.199997,8.13,31.49,31.21,8.64
4,-10.00,52.00,2018-05-05,193.940002,-40.139999,221.740005,337.579987,109.010002,9.13,32.23,25.82,2.42
...,...,...,...,...,...,...,...,...,...,...,...,...
1983487,29.75,67.75,2021-09-26,45.900002,-32.290001,51.610001,307.239990,23.379999,-1.41,12.94,3.11,1.62
1983488,29.75,67.75,2021-09-27,59.590000,-56.520000,66.959999,290.299988,40.570000,-1.25,14.15,0.84,-1.90
1983489,29.75,67.75,2021-09-28,47.130001,-67.360001,52.880001,281.690002,15.930000,-3.14,15.66,1.40,-2.35
1983490,29.75,67.75,2021-09-29,43.740002,-47.020000,49.720001,297.890015,24.059999,-3.84,12.50,3.38,1.71
1983491,29.75,67.75,2021-09-30,25.139999,-11.310000,28.230000,330.970001,2.350000,4.15,12.58,4.14,5.08

In [48]:
# get time zone per NUTS
final_rad_21 = final_rad_21.drop_duplicates(keep='first')
final_rad_21.shape

(707472, 12)

In [49]:
# dropping unnecessary variables
final_rad_21 = final_rad_21[['longitude', 'latitude', 'date', 'MRT_2AM', 'MRT_11AM', 'MRT_4PM', 'MRT_11PM']]
final_rad_21.head()

   longitude  latitude       date  MRT_2AM  MRT_11AM  MRT_4PM  MRT_11PM
0      -10.0      52.0 2018-05-01     4.13     16.76    17.92      5.14
1      -10.0      52.0 2018-05-02     0.56     20.70    18.76      1.68
2      -10.0      52.0 2018-05-03     4.30     22.12    22.75      7.40
3      -10.0      52.0 2018-05-04     8.13     31.49    31.21      8.64
4      -10.0      52.0 2018-05-05     9.13     32.23    25.82      2.42

In [74]:
# writing time zones for each nuts to csv to be used by the MRT calculation scripts for other years
final_rad_21.to_csv('rad_with_MRT_21.csv')