# Health expenditure and disease prevalence

In [1]:
# import packages
import numpy as np
import pandas as pd

In [2]:
# read health expenditure file from Eurostat
data = pd.read_excel('health_expend.xlsx')
data.head()

,TIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,GEO (Codes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BE,:,:,:,2495.49,2668.01,2740.15,2823.98,2964.18,3162.75,...,3410.65,3539.59,3652.99,3718.24,3808.94,3855.24,4088.98,4218.87,4336.85,4418.1
2,BG,:,:,:,:,:,:,:,:,:,...,:,400.96,436.06,413.42,457.59,471.74,510.22,556.20,586.55,625.59
3,CZ,:,:,:,:,:,:,:,:,:,...,:,:,:,1171.21,1139.09,1157.03,1193.39,1308.62,1493.13,1644.12
4,DK,:,:,:,:,:,:,:,:,:,...,4529.22,4517.85,4662.77,4686.26,4790.05,4912.83,5014.00,5134.04,5255.75,5355.06

In [3]:
# set missing values to NaN
data1 = pd.DataFrame(np.where(data == ':', np.NaN, data))
data = pd.DataFrame(data=data1.values, columns=data.columns)
data.head()

,TIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,GEO (Codes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BE,NaN,NaN,NaN,2495.49,2668.01,2740.15,2823.98,2964.18,3162.75,...,3410.65,3539.59,3652.99,3718.24,3808.94,3855.24,4088.98,4218.87,4336.85,4418.1
2,BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,400.96,436.06,413.42,457.59,471.74,510.22,556.2,586.55,625.59
3,CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1171.21,1139.09,1157.03,1193.39,1308.62,1493.13,1644.12
4,DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4529.22,4517.85,4662.77,4686.26,4790.05,4912.83,5014,5134.04,5255.75,5355.06

In [4]:
# set country code to index
data = data.iloc[1:]
data = data.iloc[:33]
data = data.set_index('TIME')
data = data.apply(pd.to_numeric)
data.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
TIME,,,,,,,,,,,,,,,,,,,,
BE,NaN,NaN,NaN,2495.49,2668.01,2740.15,2823.98,2964.18,3162.75,3322.90,3410.65,3539.59,3652.99,3718.24,3808.94,3855.24,4088.98,4218.87,4336.85,4418.10
BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400.96,436.06,413.42,457.59,471.74,510.22,556.20,586.55,625.59
CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1171.21,1139.09,1157.03,1193.39,1308.62,1493.13,1644.12
DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4529.22,4517.85,4662.77,4686.26,4790.05,4912.83,5014.00,5134.04,5255.75,5355.06
DE,2536.76,2617.2,2713.7,2787.31,2781.95,2861.18,2947.35,3053.87,3179.17,3355.72,3479.40,3616.53,3704.72,3833.95,3984.18,4143.14,4277.03,4468.12,4635.65,4855.33

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, BE to BA
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2000    4 non-null      float64
 1   2001    4 non-null      float64
 2   2002    4 non-null      float64
 3   2003    7 non-null      float64
 4   2004    8 non-null      float64
 5   2005    8 non-null      float64
 6   2006    11 non-null     float64
 7   2007    11 non-null     float64
 8   2008    11 non-null     float64
 9   2009    12 non-null     float64
 10  2010    15 non-null     float64
 11  2011    22 non-null     float64
 12  2012    24 non-null     float64
 13  2013    31 non-null     float64
 14  2014    33 non-null     float64
 15  2015    33 non-null     float64
 16  2016    33 non-null     float64
 17  2017    33 non-null     float64
 18  2018    33 non-null     float64
 19  2019    31 non-null     float64
dtypes: float64(20)
memory usage: 5.4+ KB

In [6]:
# drop countries with missing value for 2019 (only Malta)
data = data.dropna(subset=['2019'])
# find first year with available value
data['first_year'] = data.apply(pd.Series.first_valid_index, axis=1)
# find the first available value
data['first_value'] = data.fillna(method='bfill', axis=1).iloc[:, 0]
data = data.apply(pd.to_numeric)
data.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,first_year,first_value
TIME,,,,,,,,,,,,,,,,,,,,,
BE,NaN,NaN,NaN,2495.49,2668.01,2740.15,2823.98,2964.18,3162.75,3322.90,...,3652.99,3718.24,3808.94,3855.24,4088.98,4218.87,4336.85,4418.10,2003,2495.49
BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,436.06,413.42,457.59,471.74,510.22,556.20,586.55,625.59,2011,400.96
CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1171.21,1139.09,1157.03,1193.39,1308.62,1493.13,1644.12,2013,1171.21
DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4662.77,4686.26,4790.05,4912.83,5014.00,5134.04,5255.75,5355.06,2010,4529.22
DE,2536.76,2617.2,2713.7,2787.31,2781.95,2861.18,2947.35,3053.87,3179.17,3355.72,...,3704.72,3833.95,3984.18,4143.14,4277.03,4468.12,4635.65,4855.33,2000,2536.76

In [7]:
data['2019']

TIME
BE    4418.10
BG     625.59
CZ    1644.12
DK    5355.06
DE    4855.33
EE    1425.95
IE    4819.65
EL    1340.82
ES    2411.68
FR    4008.11
HR     930.62
IT    2599.22
CY    1771.20
LV    1045.62
LT    1223.82
LU    5502.10
HU     949.42
NL    4748.67
AT    4671.57
PL     906.09
PT    1982.50
RO     661.28
SI    1975.17
SK    1198.03
FI    3982.94
SE    5041.77
IS    5269.58
LI    8625.71
NO    7126.69
CH    8604.56
UK    3838.53
Name: 2019, dtype: float64

In [8]:
data['first_value']

TIME
BE    2495.49
BG     400.96
CZ    1171.21
DK    4529.22
DE    2536.76
EE     310.09
IE    3985.13
EL    2011.75
ES    1438.22
FR    3025.71
HR     671.11
IT    2396.32
CY    1525.21
LV     612.48
LT     429.90
LU    5089.73
HU     711.49
NL    2187.41
AT    2879.42
PL     661.57
PT    1073.38
RO     307.69
SI    1551.74
SK    1026.35
FI    1869.55
SE    4551.05
IS    2811.57
LI    7481.17
NO    6358.32
CH    5792.67
UK    3261.02
Name: first_value, dtype: float64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, BE to UK
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   2000         4 non-null      float64
 1   2001         4 non-null      float64
 2   2002         4 non-null      float64
 3   2003         7 non-null      float64
 4   2004         8 non-null      float64
 5   2005         8 non-null      float64
 6   2006         11 non-null     float64
 7   2007         11 non-null     float64
 8   2008         11 non-null     float64
 9   2009         12 non-null     float64
 10  2010         15 non-null     float64
 11  2011         22 non-null     float64
 12  2012         24 non-null     float64
 13  2013         30 non-null     float64
 14  2014         31 non-null     float64
 15  2015         31 non-null     float64
 16  2016         31 non-null     float64
 17  2017         31 non-null     float64
 18  2018         31 non-null     float64
 19  2019         31 non-null     float64
 20  first_year   31 non-null     int64
 21  first_value  31 non-null     float64
dtypes: float64(21), int64(1)
memory usage: 6.8+ KB

Now, the goal is to impute the missing values in a structured procedure that takes the average yearly growth into account. To predict the values for 2020 and 2021 the average yearly growth from 2013 to 2019 is used.
To impute missing values for years before expenditure was published, the growth rate in the early years is used.

In [10]:
# get the average yearly growth for countries from 2013 to 2019
data['growth_13_19'] = np.where(pd.isna(data['2013']), ((data['2019'] - data['2014']) / data['2014'] * 100) / (2019 - 2014 + 1),
                                ((data['2019'] - data['2013']) / data['2013'] * 100) / (2019 - 2013 + 1))
data

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,first_year,first_value,growth_13_19
TIME,,,,,,,,,,,,,,,,,,,,,
BE,NaN,NaN,NaN,2495.49,2668.01,2740.15,2823.98,2964.18,3162.75,3322.90,...,3718.24,3808.94,3855.24,4088.98,4218.87,4336.85,4418.10,2003,2495.49,2.688907
BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,413.42,457.59,471.74,510.22,556.20,586.55,625.59,2011,400.96,7.331527
CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1171.21,1139.09,1157.03,1193.39,1308.62,1493.13,1644.12,2013,1171.21,5.768271
DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4686.26,4790.05,4912.83,5014.00,5134.04,5255.75,5355.06,2010,4529.22,2.038787
DE,2536.76,2617.20,2713.70,2787.31,2781.95,2861.18,2947.35,3053.87,3179.17,3355.72,...,3833.95,3984.18,4143.14,4277.03,4468.12,4635.65,4855.33,2000,2536.76,3.805773
EE,NaN,NaN,NaN,310.09,367.34,423.21,479.81,609.57,710.58,693.54,...,863.26,933.47,1002.66,1071.71,1193.78,1311.90,1425.95,2003,310.09,9.311712
IE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3999.95,3994.90,4089.89,4228.37,4413.89,4608.66,4819.65,2011,3985.13,2.927537
EL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.75,...,1370.53,1287.54,1313.22,1345.44,1334.75,1332.73,1340.82,2009,2011.75,-0.309682
ES,NaN,NaN,NaN,1438.22,1533.41,1642.35,1769.92,1882.84,2023.54,2100.26,...,1984.38,2018.39,2117.41,2144.99,2233.54,2313.48,2411.68,2003,1438.22,3.076168
FR,NaN,NaN,NaN,NaN,NaN,NaN,3025.71,3137.65,3259.91,3388.52,...,3674.94,3742.57,3781.72,3841.06,3890.45,3939.61,4008.11,2006,3025.71,1.295143
HR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,671.11,686.44,719.53,763.03,805.78,870.38,930.62,2013,671.11,5.524110
IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2349.61,2374.06,2414.15,2440.53,2489.35,2543.54,2599.22,2012,2396.32,1.517638
CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1449.97,1421.46,1424.86,1472.35,1544.70,1667.71,1771.20,2010,1525.21,3.164893
LV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,612.48,647.40,702.31,794.11,828.80,936.20,1045.62,2013,612.48,10.102721
LT,NaN,NaN,NaN,NaN,NaN,NaN,429.90,517.53,642.78,626.40,...,725.74,772.61,834.41,899.98,966.21,1060.96,1223.82,2006,429.90,9.804377
LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4730.53,4869.32,4829.75,4897.36,5009.21,5221.36,5502.10,2011,5089.73,2.330062
HU,NaN,NaN,NaN,NaN,NaN,NaN,711.49,733.69,765.07,681.72,...,747.64,758.94,785.40,827.76,875.84,910.33,949.42,2006,711.49,3.855561
NL,2187.41,2420.33,2684.01,2862.38,2961.69,3070.63,3247.27,3421.68,3650.72,3777.28,...,4159.65,4207.78,4205.21,4281.66,4355.42,4505.96,4748.67,2000,2187.41,2.022904
AT,NaN,NaN,NaN,NaN,2879.42,2972.82,3087.17,3263.11,3433.31,3530.35,...,3928.93,4041.59,4129.77,4237.37,4359.69,4497.44,4671.57,2004,2879.42,2.700263
PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,661.57,675.61,718.15,731.01,807.48,829.54,906.09,2013,661.57,5.280081
PT,1073.38,1130.40,1202.10,1274.28,1384.33,1457.18,1478.04,1539.94,1625.62,1681.54,...,1533.34,1554.48,1616.41,1696.74,1770.29,1878.02,1982.50,2000,1073.38,4.184702
RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,373.66,380.14,399.83,431.88,493.75,583.91,661.28,2011,307.69,10.996246
SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1551.74,1603.66,1660.39,1703.65,1830.93,1975.17,2014,1551.74,4.547905
SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1031.40,970.05,998.98,1043.40,1051.83,1099.99,1198.03,2012,1026.35,2.307959
FI,1869.55,2021.36,2177.84,2310.74,2447.22,2601.78,2719.76,2859.32,3050.35,3118.68,...,3683.49,3705.37,3720.86,3712.03,3749.64,3827.56,3982.94,2000,1869.55,1.161360
SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5018.91,4954.90,5022.10,5099.33,5147.42,5060.99,5041.77,2011,4551.05,0.065068
IS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3063.76,3386.34,3853.04,4539.14,5303.32,5307.79,5269.58,2011,2811.57,10.285308
LI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7481.17,7598.39,8665.47,8747.41,8579.88,8217.96,8625.71,2013,7481.17,2.185563
NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6915.78,6838.71,6787.99,6747.31,6906.95,6987.71,7126.69,2011,6358.32,0.435670
CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6940.40,7181.75,8410.01,8484.88,8476.35,8159.59,8604.56,2010,5792.67,3.425410
UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3261.02,3559.66,4021.21,3662.83,3503.62,3607.59,3838.53,2013,3261.02,2.529927

In [11]:
# use the average yearly growth to predict the values for 2020 and 2021
data['2020'] = data['2019'] * (data['growth_13_19']/100 + 1)
data['2021'] = data['2019'] * (data['growth_13_19']/100 + 1)**2
data.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,first_year,first_value,growth_13_19,2020,2021
TIME,,,,,,,,,,,,,,,,,,,,,
BE,NaN,NaN,NaN,2495.49,2668.01,2740.15,2823.98,2964.18,3162.75,3322.90,...,3855.24,4088.98,4218.87,4336.85,4418.10,2003,2495.49,2.688907,4536.898582,4658.891546
BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,471.74,510.22,556.20,586.55,625.59,2011,400.96,7.331527,671.455301,720.683230
CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1157.03,1193.39,1308.62,1493.13,1644.12,2013,1171.21,5.768271,1738.957304,1839.265080
DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4912.83,5014.00,5134.04,5255.75,5355.06,2010,4529.22,2.038787,5464.238264,5575.642441
DE,2536.76,2617.2,2713.7,2787.31,2781.95,2861.18,2947.35,3053.87,3179.17,3355.72,...,4143.14,4277.03,4468.12,4635.65,4855.33,2000,2536.76,3.805773,5040.112831,5231.928078

In [12]:
# get the average yearly growth from 2005 to 2013 (if data available)
data['growth_05_13'] = ((data['2013'] - data['2005']) / data['2005'] * 100) / (2013 - 2005 + 1)
data

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2016,2017,2018,2019,first_year,first_value,growth_13_19,2020,2021,growth_05_13
TIME,,,,,,,,,,,,,,,,,,,,,
BE,NaN,NaN,NaN,2495.49,2668.01,2740.15,2823.98,2964.18,3162.75,3322.90,...,4088.98,4218.87,4336.85,4418.10,2003,2495.49,2.688907,4536.898582,4658.891546,3.966085
BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,510.22,556.20,586.55,625.59,2011,400.96,7.331527,671.455301,720.683230,NaN
CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1193.39,1308.62,1493.13,1644.12,2013,1171.21,5.768271,1738.957304,1839.265080,NaN
DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5014.00,5134.04,5255.75,5355.06,2010,4529.22,2.038787,5464.238264,5575.642441,NaN
DE,2536.76,2617.20,2713.70,2787.31,2781.95,2861.18,2947.35,3053.87,3179.17,3355.72,...,4277.03,4468.12,4635.65,4855.33,2000,2536.76,3.805773,5040.112831,5231.928078,3.777657
EE,NaN,NaN,NaN,310.09,367.34,423.21,479.81,609.57,710.58,693.54,...,1071.71,1193.78,1311.90,1425.95,2003,310.09,9.311712,1558.730358,1703.874842,11.553235
IE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4228.37,4413.89,4608.66,4819.65,2011,3985.13,2.927537,4960.747017,5105.974702,NaN
EL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.75,...,1345.44,1334.75,1332.73,1340.82,2009,2011.75,-0.309682,1336.667721,1332.528301,NaN
ES,NaN,NaN,NaN,1438.22,1533.41,1642.35,1769.92,1882.84,2023.54,2100.26,...,2144.99,2233.54,2313.48,2411.68,2003,1438.22,3.076168,2485.867322,2562.336770,2.313961
FR,NaN,NaN,NaN,NaN,NaN,NaN,3025.71,3137.65,3259.91,3388.52,...,3841.06,3890.45,3939.61,4008.11,2006,3025.71,1.295143,4060.020741,4112.603800,NaN
HR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,763.03,805.78,870.38,930.62,2013,671.11,5.524110,982.028476,1036.276813,NaN
IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2440.53,2489.35,2543.54,2599.22,2012,2396.32,1.517638,2638.666747,2678.712153,NaN
CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1472.35,1544.70,1667.71,1771.20,2010,1525.21,3.164893,1827.256586,1885.087303,NaN
LV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,794.11,828.80,936.20,1045.62,2013,612.48,10.102721,1151.256067,1267.564250,NaN
LT,NaN,NaN,NaN,NaN,NaN,NaN,429.90,517.53,642.78,626.40,...,899.98,966.21,1060.96,1223.82,2006,429.90,9.804377,1343.807927,1475.559922,NaN
LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4897.36,5009.21,5221.36,5502.10,2011,5089.73,2.330062,5630.302346,5761.491886,NaN
HU,NaN,NaN,NaN,NaN,NaN,NaN,711.49,733.69,765.07,681.72,...,827.76,875.84,910.33,949.42,2006,711.49,3.855561,986.025465,1024.042275,NaN
NL,2187.41,2420.33,2684.01,2862.38,2961.69,3070.63,3247.27,3421.68,3650.72,3777.28,...,4281.66,4355.42,4505.96,4748.67,2000,2187.41,2.022904,4844.731022,4942.735265,3.940632
AT,NaN,NaN,NaN,NaN,2879.42,2972.82,3087.17,3263.11,3433.31,3530.35,...,4237.37,4359.69,4497.44,4671.57,2004,2879.42,2.700263,4797.714659,4927.265555,3.573524
PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,731.01,807.48,829.54,906.09,2013,661.57,5.280081,953.932281,1004.300674,NaN
PT,1073.38,1130.40,1202.10,1274.28,1384.33,1457.18,1478.04,1539.94,1625.62,1681.54,...,1696.74,1770.29,1878.02,1982.50,2000,1073.38,4.184702,2065.461723,2151.895147,0.580726
RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,431.88,493.75,583.91,661.28,2011,307.69,10.996246,733.995973,814.707973,NaN
SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1660.39,1703.65,1830.93,1975.17,2014,1551.74,4.547905,2064.998862,2158.913056,NaN
SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1043.40,1051.83,1099.99,1198.03,2012,1026.35,2.307959,1225.680037,1253.968226,NaN
FI,1869.55,2021.36,2177.84,2310.74,2447.22,2601.78,2719.76,2859.32,3050.35,3118.68,...,3712.03,3749.64,3827.56,3982.94,2000,1869.55,1.161360,4029.196263,4075.989728,4.619530
SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5099.33,5147.42,5060.99,5041.77,2011,4551.05,0.065068,5045.050589,5048.333312,NaN
IS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4539.14,5303.32,5307.79,5269.58,2011,2811.57,10.285308,5811.572517,6409.310632,NaN
LI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8747.41,8579.88,8217.96,8625.71,2013,7481.17,2.185563,8814.230362,9006.870956,NaN
NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6747.31,6906.95,6987.71,7126.69,2011,6358.32,0.435670,7157.738872,7188.923015,NaN
CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8484.88,8476.35,8159.59,8604.56,2010,5792.67,3.425410,8899.301443,9204.138988,NaN
UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3662.83,3503.62,3607.59,3838.53,2013,3261.02,2.529927,3935.642011,4035.210884,NaN

In [13]:
data['first_year'].unique()

array([2003, 2011, 2013, 2010, 2000, 2009, 2006, 2012, 2004, 2014],
      dtype=int64)

In [14]:
# get the average yearly growth of the first 5 to 6 years starting from the first point that data is available
data['early_growth'] = np.where(data['first_year'] == 2003, ((data['2008'] - data['2003']) / data['2003'] * 100) / (2008 - 2003 + 1),
                               np.where(data['first_year'] == 2004, ((data['2008'] - data['2004']) / data['2004'] * 100) / (2008 - 2004 + 1),
                                       np.where(data['first_year'] == 2006, ((data['2010'] - data['2006']) / data['2006'] * 100) / (2010 - 2006 + 1),
                                               np.where(data['first_year'] == 2009, ((data['2013'] - data['2009']) / data['2009'] * 100) / (2013 - 2009 + 1),
                                                       np.where(data['first_year'] == 2010, ((data['2014'] - data['2010']) / data['2010'] * 100) / (2014 - 2010 + 1),
                                                               np.where(data['first_year'] == 2011, ((data['2015'] - data['2011']) / data['2011'] * 100) / (2015 - 2011 + 1),
                                                                       np.where(data['first_year'] == 2012, ((data['2016'] - data['2012']) / data['2012'] * 100) / (2016 - 2012 + 1),
                                                                               np.where(data['first_year'] == 2013, ((data['2017'] - data['2013']) / data['2013'] * 100) / (2017 - 2013 + 1),
                                                                                       np.where(data['first_year'] == 2014, ((data['2018'] - data['2014']) / data['2014'] * 100) / (2018 - 2014 + 1),
                                                                                               np.where(data['first_year'] == 2000, ((data['2005'] - data['2000']) / data['2000'] * 100) / (2005 - 2000 + 1),
                                                                                                        99))))))))))

data

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2017,2018,2019,first_year,first_value,growth_13_19,2020,2021,growth_05_13,early_growth
TIME,,,,,,,,,,,,,,,,,,,,,
BE,NaN,NaN,NaN,2495.49,2668.01,2740.15,2823.98,2964.18,3162.75,3322.90,...,4218.87,4336.85,4418.10,2003,2495.49,2.688907,4536.898582,4658.891546,3.966085,4.456439
BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,556.20,586.55,625.59,2011,400.96,7.331527,671.455301,720.683230,NaN,3.530527
CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1308.62,1493.13,1644.12,2013,1171.21,5.768271,1738.957304,1839.265080,NaN,2.346462
DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5134.04,5255.75,5355.06,2010,4529.22,2.038787,5464.238264,5575.642441,NaN,1.151766
DE,2536.76,2617.20,2713.70,2787.31,2781.95,2861.18,2947.35,3053.87,3179.17,3355.72,...,4468.12,4635.65,4855.33,2000,2536.76,3.805773,5040.112831,5231.928078,3.777657,2.131459
EE,NaN,NaN,NaN,310.09,367.34,423.21,479.81,609.57,710.58,693.54,...,1193.78,1311.90,1425.95,2003,310.09,9.311712,1558.730358,1703.874842,11.553235,21.525471
IE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4413.89,4608.66,4819.65,2011,3985.13,2.927537,4960.747017,5105.974702,NaN,0.525754
EL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.75,...,1334.75,1332.73,1340.82,2009,2011.75,-0.309682,1336.667721,1332.528301,NaN,-6.374748
ES,NaN,NaN,NaN,1438.22,1533.41,1642.35,1769.92,1882.84,2023.54,2100.26,...,2233.54,2313.48,2411.68,2003,1438.22,3.076168,2485.867322,2562.336770,2.313961,6.782921
FR,NaN,NaN,NaN,NaN,NaN,NaN,3025.71,3137.65,3259.91,3388.52,...,3890.45,3939.61,4008.11,2006,3025.71,1.295143,4060.020741,4112.603800,NaN,2.841118
HR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,805.78,870.38,930.62,2013,671.11,5.524110,982.028476,1036.276813,NaN,4.013351
IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2489.35,2543.54,2599.22,2012,2396.32,1.517638,2638.666747,2678.712153,NaN,0.368982
CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1544.70,1667.71,1771.20,2010,1525.21,3.164893,1827.256586,1885.087303,NaN,-1.360468
LV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,828.80,936.20,1045.62,2013,612.48,10.102721,1151.256067,1267.564250,NaN,7.063741
LT,NaN,NaN,NaN,NaN,NaN,NaN,429.90,517.53,642.78,626.40,...,966.21,1060.96,1223.82,2006,429.90,9.804377,1343.807927,1475.559922,NaN,8.695045
LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5009.21,5221.36,5502.10,2011,5089.73,2.330062,5630.302346,5761.491886,NaN,-1.021587
HU,NaN,NaN,NaN,NaN,NaN,NaN,711.49,733.69,765.07,681.72,...,875.84,910.33,949.42,2006,711.49,3.855561,986.025465,1024.042275,NaN,0.890244
NL,2187.41,2420.33,2684.01,2862.38,2961.69,3070.63,3247.27,3421.68,3650.72,3777.28,...,4355.42,4505.96,4748.67,2000,2187.41,2.022904,4844.731022,4942.735265,3.940632,6.729572
AT,NaN,NaN,NaN,NaN,2879.42,2972.82,3087.17,3263.11,3433.31,3530.35,...,4359.69,4497.44,4671.57,2004,2879.42,2.700263,4797.714659,4927.265555,3.573524,3.847233
PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,807.48,829.54,906.09,2013,661.57,5.280081,953.932281,1004.300674,NaN,4.411022
PT,1073.38,1130.40,1202.10,1274.28,1384.33,1457.18,1478.04,1539.94,1625.62,1681.54,...,1770.29,1878.02,1982.50,2000,1073.38,4.184702,2065.461723,2151.895147,0.580726,5.959368
RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,493.75,583.91,661.28,2011,307.69,10.996246,733.995973,814.707973,NaN,5.989145
SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1703.65,1830.93,1975.17,2014,1551.74,4.547905,2064.998862,2158.913056,NaN,3.598412
SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1051.83,1099.99,1198.03,2012,1026.35,2.307959,1225.680037,1253.968226,NaN,0.332245
FI,1869.55,2021.36,2177.84,2310.74,2447.22,2601.78,2719.76,2859.32,3050.35,3118.68,...,3749.64,3827.56,3982.94,2000,1869.55,1.161360,4029.196263,4075.989728,4.619530,6.527685
SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5147.42,5060.99,5041.77,2011,4551.05,0.065068,5045.050589,5048.333312,NaN,2.070072
IS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5303.32,5307.79,5269.58,2011,2811.57,10.285308,5811.572517,6409.310632,NaN,7.408459
LI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8579.88,8217.96,8625.71,2013,7481.17,2.185563,8814.230362,9006.870956,NaN,2.937268
NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6906.95,6987.71,7126.69,2011,6358.32,0.435670,7157.738872,7188.923015,NaN,1.351521
CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8476.35,8159.59,8604.56,2010,5792.67,3.425410,8899.301443,9204.138988,NaN,4.795992
UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3503.62,3607.59,3838.53,2013,3261.02,2.529927,3935.642011,4035.210884,NaN,1.487878

In [15]:
# define function to impute NaN with yearly early growth rate
def fill_na(df, column1, column2):
    return np.where(pd.isna(df[column1]), df[column2] * (1-(df['early_growth']/100)), df[column1]);

In [16]:
# NaN are imputed by taking the earliest available figure and using the early growth rate to predict unknown value
# the assumption is that the growth rate remains identical to the one observed in the earliest 4 to 6 years
data['2013'] = fill_na(data, '2013', '2014')
data['2012'] = fill_na(data, '2012', '2013')
data['2011'] = fill_na(data, '2011', '2012')
data['2010'] = fill_na(data, '2010', '2011')
data['2009'] = fill_na(data, '2009', '2010')
data['2008'] = fill_na(data, '2008', '2009')
data['2007'] = fill_na(data, '2007', '2008')
data['2006'] = fill_na(data, '2006', '2007')
data['2005'] = fill_na(data, '2005', '2006')
data['2004'] = fill_na(data, '2004', '2005')
data['2003'] = fill_na(data, '2003', '2004')
data['2002'] = fill_na(data, '2002', '2003')
data['2001'] = fill_na(data, '2001', '2002')
data['2000'] = fill_na(data, '2000', '2001')
data

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2017,2018,2019,first_year,first_value,growth_13_19,2020,2021,growth_05_13,early_growth
TIME,,,,,,,,,,,,,,,,,,,,,
BE,2176.507157,2278.026006,2384.280000,2495.490000,2668.010000,2740.150000,2823.980000,2964.180000,3162.750000,3322.900000,...,4218.87,4336.85,4418.10,2003,2495.49,2.688907,4536.898582,4658.891546,3.966085,4.456439
BG,270.016329,279.898210,290.141742,300.760160,311.767184,323.177035,335.004457,347.264731,359.973699,373.147781,...,556.20,586.55,625.59,2011,400.96,7.331527,671.455301,720.683230,NaN,3.530527
CZ,860.158592,880.826861,901.991757,923.665212,945.859447,968.586974,991.860608,1015.693472,1040.099002,1065.090958,...,1308.62,1493.13,1644.12,2013,1171.21,5.768271,1738.957304,1839.265080,NaN,2.346462
DK,4033.783443,4080.784517,4128.333241,4176.435996,4225.099238,4274.329497,4324.133379,4374.517570,4425.488830,4477.054000,...,5134.04,5255.75,5355.06,2010,4529.22,2.038787,5464.238264,5575.642441,NaN,1.151766
DE,2536.760000,2617.200000,2713.700000,2787.310000,2781.950000,2861.180000,2947.350000,3053.870000,3179.170000,3355.720000,...,4468.12,4635.65,4855.33,2000,2536.76,3.805773,5040.112831,5231.928078,3.777657,2.131459
EE,149.855923,190.961227,243.341667,310.090000,367.340000,423.210000,479.810000,609.570000,710.580000,693.540000,...,1193.78,1311.90,1425.95,2003,310.09,9.311712,1558.730358,1703.874842,11.553235,21.525471
IE,3760.622022,3780.498161,3800.479352,3820.566150,3840.759114,3861.058804,3881.465785,3901.980623,3922.603889,3943.336156,...,4413.89,4608.66,4819.65,2011,3985.13,2.927537,4960.747017,5105.974702,NaN,0.525754
EL,3508.495480,3298.240921,3100.586344,2914.776666,2740.102056,2575.895218,2421.528847,2276.413232,2139.994000,2011.750000,...,1334.75,1332.73,1340.82,2009,2011.75,-0.309682,1336.667721,1332.528301,NaN,-6.374748
ES,1164.962074,1249.730299,1340.666667,1438.220000,1533.410000,1642.350000,1769.920000,1882.840000,2023.540000,2100.260000,...,2233.54,2313.48,2411.68,2003,1438.22,3.076168,2485.867322,2562.336770,2.313961,6.782921
FR,2545.202526,2619.629293,2696.232446,2775.075627,2856.224339,2939.746000,3025.710000,3137.650000,3259.910000,3388.520000,...,3890.45,3939.61,4008.11,2006,3025.71,1.295143,4060.020741,4112.603800,NaN,2.841118
HR,394.034730,410.509935,427.673994,445.555708,464.185085,483.593385,503.813176,524.878388,546.824370,569.687947,...,805.78,870.38,930.62,2013,671.11,5.524110,982.028476,1036.276813,NaN,4.013351
IT,2292.343013,2300.832681,2309.353791,2317.906459,2326.490802,2335.106936,2343.754980,2352.435053,2361.147271,2369.891756,...,2489.35,2543.54,2599.22,2012,2396.32,1.517638,2638.666747,2678.712153,NaN,0.368982
CY,1745.885395,1722.451980,1699.333091,1676.524505,1654.022057,1631.821640,1609.919198,1588.310732,1566.992297,1545.960000,...,1544.70,1667.71,1771.20,2010,1525.21,3.164893,1827.256586,1885.087303,NaN,-1.360468
LV,236.319385,254.281146,273.608114,294.404053,316.780615,340.857936,366.765286,394.641757,424.637015,456.912102,...,828.80,936.20,1045.62,2013,612.48,10.102721,1151.256067,1267.564250,NaN,7.063741
LT,249.076936,272.796736,298.775392,327.228017,358.390208,392.520000,429.900000,517.530000,642.780000,626.400000,...,966.21,1060.96,1223.82,2006,429.90,9.804377,1343.807927,1475.559922,NaN,8.695045
LU,5691.815061,5634.256254,5577.279514,5520.878954,5465.048748,5409.783128,5355.076385,5300.922866,5247.316979,5194.253184,...,5009.21,5221.36,5502.10,2011,5089.73,2.330062,5630.302346,5761.491886,NaN,-1.021587
HU,674.321848,680.378883,686.490325,692.656662,698.878388,705.156000,711.490000,733.690000,765.070000,681.720000,...,875.84,910.33,949.42,2006,711.49,3.855561,986.025465,1024.042275,NaN,0.890244
NL,2187.410000,2420.330000,2684.010000,2862.380000,2961.690000,3070.630000,3247.270000,3421.680000,3650.720000,3777.280000,...,4355.42,4505.96,4748.67,2000,2187.41,2.022904,4844.731022,4942.735265,3.940632,6.729572
AT,2461.229777,2559.707699,2662.125888,2768.642000,2879.420000,2972.820000,3087.170000,3263.110000,3433.310000,3530.350000,...,4359.69,4497.44,4671.57,2004,2879.42,2.700263,4797.714659,4927.265555,3.573524,3.847233
PL,368.025088,385.007871,402.774337,421.360649,440.804640,461.145888,482.425797,504.687683,527.976860,552.340733,...,807.48,829.54,906.09,2013,661.57,5.280081,953.932281,1004.300674,NaN,4.411022
PT,1073.380000,1130.400000,1202.100000,1274.280000,1384.330000,1457.180000,1478.040000,1539.940000,1625.620000,1681.540000,...,1770.29,1878.02,1982.50,2000,1073.38,4.184702,2065.461723,2151.895147,0.580726,5.959368
RO,155.980897,165.917964,176.488092,187.731610,199.691418,212.413150,225.945344,240.339633,255.650938,271.937680,...,493.75,583.91,661.28,2011,307.69,10.996246,733.995973,814.707973,NaN,5.989145
SI,928.961211,963.636836,999.606808,1036.919443,1075.624858,1115.775043,1157.423925,1200.627449,1245.443643,1291.932706,...,1703.65,1830.93,1975.17,2014,1551.74,4.547905,2064.998862,2158.913056,NaN,3.598412
SK,986.169532,989.456956,992.755340,996.064718,999.385129,1002.716608,1006.059193,1009.412920,1012.777827,1016.153951,...,1051.83,1099.99,1198.03,2012,1026.35,2.307959,1225.680037,1253.968226,NaN,0.332245
FI,1869.550000,2021.360000,2177.840000,2310.740000,2447.220000,2601.780000,2719.760000,2859.320000,3050.350000,3118.680000,...,3749.64,3827.56,3982.94,2000,1869.55,1.161360,4029.196263,4075.989728,4.619530,6.527685
SE,3615.608567,3692.036368,3770.079723,3849.772782,3931.150416,4014.248234,4099.102599,4185.750640,4274.230273,4364.580215,...,5147.42,5060.99,5041.77,2011,4551.05,0.065068,5045.050589,5048.333312,NaN,2.070072
IS,1205.683600,1302.153071,1406.341284,1518.865830,1640.393720,1771.645331,1913.398681,2066.494036,2231.838897,2410.413375,...,5303.32,5307.79,5269.58,2011,2811.57,10.285308,5811.572517,6409.310632,NaN,7.408459
LI,5077.526258,5231.180026,5389.483594,5552.577672,5720.607228,5893.721617,6072.074714,6255.825051,6445.135957,6640.175702,...,8579.88,8217.96,8625.71,2013,7481.17,2.185563,8814.230362,9006.870956,NaN,2.937268
NO,5474.402595,5549.403928,5625.432807,5702.503310,5780.629707,5859.826464,5940.108247,6021.489919,6103.986550,6187.613416,...,6906.95,6987.71,7126.69,2011,6358.32,0.435670,7157.738872,7188.923015,NaN,1.351521
CH,3543.489104,3721.995728,3909.494792,4106.439300,4313.305074,4530.591907,4758.824771,4998.555081,5250.362034,5514.854000,...,8476.35,8159.59,8604.56,2010,5792.67,3.425410,8899.301443,9204.138988,NaN,4.795992
UK,2683.608903,2724.140796,2765.284861,2807.050347,2849.446637,2892.483260,2936.169886,2980.516334,3025.532568,3071.228705,...,3503.62,3607.59,3838.53,2013,3261.02,2.529927,3935.642011,4035.210884,NaN,1.487878

In [18]:
# drop variables not needed for the modelling
data = data.drop(['first_year', 'first_value', 'growth_13_19', 'growth_05_13', 'early_growth'],1)

# using the data for Bulgaria for Montenegro, Serbia, Albania
s=data.iloc[[1],] # pick the row you want to do repeat
RS=s.reindex(s.index.repeat(1))
AL=s.reindex(s.index.repeat(1))
ME=s.reindex(s.index.repeat(1))
RS = RS.rename(index={'BG':'RS'})
AL = AL.rename(index={'BG':'AL'})
ME = ME.rename(index={'BG':'ME'})
# multiplier based on GDP compared to Bulgaria
RS = RS.select_dtypes(exclude=['object', 'datetime']) * 0.7
AL = AL.select_dtypes(exclude=['object', 'datetime']) * 0.5
ME = ME.select_dtypes(exclude=['object', 'datetime']) * 0.7

# concatenate all data frames
pdList = [data, RS, ME, AL] 
data = pd.concat(pdList)

# create country variable
data['country'] = data.index

data

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,country
TIME,,,,,,,,,,,,,,,,,,,,,
BE,2176.507157,2278.026006,2384.280000,2495.490000,2668.010000,2740.150000,2823.980000,2964.180000,3162.750000,3322.900000,...,3718.240,3808.940,3855.240,4088.980,4218.87,4336.850,4418.100,4536.898582,4658.891546,BE
BG,270.016329,279.898210,290.141742,300.760160,311.767184,323.177035,335.004457,347.264731,359.973699,373.147781,...,413.420,457.590,471.740,510.220,556.20,586.550,625.590,671.455301,720.683230,BG
CZ,860.158592,880.826861,901.991757,923.665212,945.859447,968.586974,991.860608,1015.693472,1040.099002,1065.090958,...,1171.210,1139.090,1157.030,1193.390,1308.62,1493.130,1644.120,1738.957304,1839.265080,CZ
DK,4033.783443,4080.784517,4128.333241,4176.435996,4225.099238,4274.329497,4324.133379,4374.517570,4425.488830,4477.054000,...,4686.260,4790.050,4912.830,5014.000,5134.04,5255.750,5355.060,5464.238264,5575.642441,DK
DE,2536.760000,2617.200000,2713.700000,2787.310000,2781.950000,2861.180000,2947.350000,3053.870000,3179.170000,3355.720000,...,3833.950,3984.180,4143.140,4277.030,4468.12,4635.650,4855.330,5040.112831,5231.928078,DE
EE,149.855923,190.961227,243.341667,310.090000,367.340000,423.210000,479.810000,609.570000,710.580000,693.540000,...,863.260,933.470,1002.660,1071.710,1193.78,1311.900,1425.950,1558.730358,1703.874842,EE
IE,3760.622022,3780.498161,3800.479352,3820.566150,3840.759114,3861.058804,3881.465785,3901.980623,3922.603889,3943.336156,...,3999.950,3994.900,4089.890,4228.370,4413.89,4608.660,4819.650,4960.747017,5105.974702,IE
EL,3508.495480,3298.240921,3100.586344,2914.776666,2740.102056,2575.895218,2421.528847,2276.413232,2139.994000,2011.750000,...,1370.530,1287.540,1313.220,1345.440,1334.75,1332.730,1340.820,1336.667721,1332.528301,EL
ES,1164.962074,1249.730299,1340.666667,1438.220000,1533.410000,1642.350000,1769.920000,1882.840000,2023.540000,2100.260000,...,1984.380,2018.390,2117.410,2144.990,2233.54,2313.480,2411.680,2485.867322,2562.336770,ES
FR,2545.202526,2619.629293,2696.232446,2775.075627,2856.224339,2939.746000,3025.710000,3137.650000,3259.910000,3388.520000,...,3674.940,3742.570,3781.720,3841.060,3890.45,3939.610,4008.110,4060.020741,4112.603800,FR
HR,394.034730,410.509935,427.673994,445.555708,464.185085,483.593385,503.813176,524.878388,546.824370,569.687947,...,671.110,686.440,719.530,763.030,805.78,870.380,930.620,982.028476,1036.276813,HR
IT,2292.343013,2300.832681,2309.353791,2317.906459,2326.490802,2335.106936,2343.754980,2352.435053,2361.147271,2369.891756,...,2349.610,2374.060,2414.150,2440.530,2489.35,2543.540,2599.220,2638.666747,2678.712153,IT
CY,1745.885395,1722.451980,1699.333091,1676.524505,1654.022057,1631.821640,1609.919198,1588.310732,1566.992297,1545.960000,...,1449.970,1421.460,1424.860,1472.350,1544.70,1667.710,1771.200,1827.256586,1885.087303,CY
LV,236.319385,254.281146,273.608114,294.404053,316.780615,340.857936,366.765286,394.641757,424.637015,456.912102,...,612.480,647.400,702.310,794.110,828.80,936.200,1045.620,1151.256067,1267.564250,LV
LT,249.076936,272.796736,298.775392,327.228017,358.390208,392.520000,429.900000,517.530000,642.780000,626.400000,...,725.740,772.610,834.410,899.980,966.21,1060.960,1223.820,1343.807927,1475.559922,LT
LU,5691.815061,5634.256254,5577.279514,5520.878954,5465.048748,5409.783128,5355.076385,5300.922866,5247.316979,5194.253184,...,4730.530,4869.320,4829.750,4897.360,5009.21,5221.360,5502.100,5630.302346,5761.491886,LU
HU,674.321848,680.378883,686.490325,692.656662,698.878388,705.156000,711.490000,733.690000,765.070000,681.720000,...,747.640,758.940,785.400,827.760,875.84,910.330,949.420,986.025465,1024.042275,HU
NL,2187.410000,2420.330000,2684.010000,2862.380000,2961.690000,3070.630000,3247.270000,3421.680000,3650.720000,3777.280000,...,4159.650,4207.780,4205.210,4281.660,4355.42,4505.960,4748.670,4844.731022,4942.735265,NL
AT,2461.229777,2559.707699,2662.125888,2768.642000,2879.420000,2972.820000,3087.170000,3263.110000,3433.310000,3530.350000,...,3928.930,4041.590,4129.770,4237.370,4359.69,4497.440,4671.570,4797.714659,4927.265555,AT
PL,368.025088,385.007871,402.774337,421.360649,440.804640,461.145888,482.425797,504.687683,527.976860,552.340733,...,661.570,675.610,718.150,731.010,807.48,829.540,906.090,953.932281,1004.300674,PL
PT,1073.380000,1130.400000,1202.100000,1274.280000,1384.330000,1457.180000,1478.040000,1539.940000,1625.620000,1681.540000,...,1533.340,1554.480,1616.410,1696.740,1770.29,1878.020,1982.500,2065.461723,2151.895147,PT
RO,155.980897,165.917964,176.488092,187.731610,199.691418,212.413150,225.945344,240.339633,255.650938,271.937680,...,373.660,380.140,399.830,431.880,493.75,583.910,661.280,733.995973,814.707973,RO
SI,928.961211,963.636836,999.606808,1036.919443,1075.624858,1115.775043,1157.423925,1200.627449,1245.443643,1291.932706,...,1495.902,1551.740,1603.660,1660.390,1703.65,1830.930,1975.170,2064.998862,2158.913056,SI
SK,986.169532,989.456956,992.755340,996.064718,999.385129,1002.716608,1006.059193,1009.412920,1012.777827,1016.153951,...,1031.400,970.050,998.980,1043.400,1051.83,1099.990,1198.030,1225.680037,1253.968226,SK
FI,1869.550000,2021.360000,2177.840000,2310.740000,2447.220000,2601.780000,2719.760000,2859.320000,3050.350000,3118.680000,...,3683.490,3705.370,3720.860,3712.030,3749.64,3827.560,3982.940,4029.196263,4075.989728,FI
SE,3615.608567,3692.036368,3770.079723,3849.772782,3931.150416,4014.248234,4099.102599,4185.750640,4274.230273,4364.580215,...,5018.910,4954.900,5022.100,5099.330,5147.42,5060.990,5041.770,5045.050589,5048.333312,SE
IS,1205.683600,1302.153071,1406.341284,1518.865830,1640.393720,1771.645331,1913.398681,2066.494036,2231.838897,2410.413375,...,3063.760,3386.340,3853.040,4539.140,5303.32,5307.790,5269.580,5811.572517,6409.310632,IS
LI,5077.526258,5231.180026,5389.483594,5552.577672,5720.607228,5893.721617,6072.074714,6255.825051,6445.135957,6640.175702,...,7481.170,7598.390,8665.470,8747.410,8579.88,8217.960,8625.710,8814.230362,9006.870956,LI
NO,5474.402595,5549.403928,5625.432807,5702.503310,5780.629707,5859.826464,5940.108247,6021.489919,6103.986550,6187.613416,...,6915.780,6838.710,6787.990,6747.310,6906.95,6987.710,7126.690,7157.738872,7188.923015,NO
CH,3543.489104,3721.995728,3909.494792,4106.439300,4313.305074,4530.591907,4758.824771,4998.555081,5250.362034,5514.854000,...,6940.400,7181.750,8410.010,8484.880,8476.35,8159.590,8604.560,8899.301443,9204.138988,CH
UK,2683.608903,2724.140796,2765.284861,2807.050347,2849.446637,2892.483260,2936.169886,2980.516334,3025.532568,3071.228705,...,3261.020,3559.660,4021.210,3662.830,3503.62,3607.590,3838.530,3935.642011,4035.210884,UK
RS,189.011430,195.928747,203.099219,210.532112,218.237029,226.223925,234.503120,243.085312,251.981589,261.203447,...,289.394,320.313,330.218,357.154,389.34,410.585,437.913,470.018711,504.478261,RS
ME,189.011430,195.928747,203.099219,210.532112,218.237029,226.223925,234.503120,243.085312,251.981589,261.203447,...,289.394,320.313,330.218,357.154,389.34,410.585,437.913,470.018711,504.478261,ME
AL,135.008165,139.949105,145.070871,150.380080,155.883592,161.588518,167.502229,173.632366,179.986850,186.573891,...,206.710,228.795,235.870,255.110,278.10,293.275,312.795,335.727651,360.341615,AL

In [19]:
# transform data frame to long and narrow
data1 = data.melt(id_vars='country', value_name='health_expend_p_capita')
data1 = data1.rename(columns={'variable': 'year'})
data1.head(5)

  country  year  health_expend_p_capita
0      BE  2000             2176.507157
1      BG  2000              270.016329
2      CZ  2000              860.158592
3      DK  2000             4033.783443
4      DE  2000             2536.760000

In [20]:
# write data to csv
data1.to_csv('health_expenditure.csv')

# Prevalence of diseases 2014

In [27]:
import pandas as pd

In [28]:
# read Eurostat data on disease prevalence 2014
df14 = pd.read_csv('dis_preva_2014.csv')
df14 = df14.drop(['UNIT', 'SEX', 'AGE', 'ISCED11'],1)
df14 = df14.rename(columns={'HLTH_PB': 'condition', 'Value': 'prevalence_in_%'})
df14.head()

                                           condition GEO  TIME prevalence_in_%
0                                             Asthma  BE  2014             4.3
1  Chronic lower respiratory diseases (excluding ...  BE  2014             4.0
2  Heart attack or chronic consequences of heart ...  BE  2014             1.0
3          Coronary heart disease or angina pectoris  BE  2014             1.5
4                                High blood pressure  BE  2014            16.5

In [29]:
#df14.to_csv('preva_2014.csv')

# Prevalence of diseases 2019

In [30]:
# read Eurostat data on disease prevalence 2019
df19 = pd.read_csv('dis_preva_2019.csv')
df19 = df19.drop(['UNIT', 'SEX', 'AGE', 'ISCED11'],1)
df19 = df19.rename(columns={'HLTH_PB': 'condition', 'Value': 'prevalence_in_%'})
df19.head()

                                           condition GEO  TIME prevalence_in_%
0                                             Asthma  BE  2019             5.8
1  Chronic lower respiratory diseases (excluding ...  BE  2019             4.0
2  Heart attack or chronic consequences of heart ...  BE  2019             0.8
3          Coronary heart disease or angina pectoris  BE  2019             1.5
4                                High blood pressure  BE  2019            17.4

In [31]:
# merge both data sets
final_df = df14.merge(df19, how='left', on=['GEO', 'condition']).drop(['TIME_y'], axis = 1)
# rename columns
final_df = final_df.rename(columns={'prevalence_in_%_x': 'prevalence_2014', 'prevalence_in_%_y': 'prevalence_2019'})
# set missing values to NaN
final_df = final_df.replace(':', np.nan)
# exclude UK
final_df = final_df[final_df.GEO != 'UK']
# convert to float
final_df['prevalence_2014'] = final_df['prevalence_2014'].astype(float)
final_df['prevalence_2019'] = final_df['prevalence_2019'].astype(float)
# replace NaN with values from previous or later round
final_df['prevalence_2014'] = np.where(pd.isna(final_df['prevalence_2014']), final_df['prevalence_2019'], final_df['prevalence_2014'])
# rename column
final_df = final_df.rename(columns={'GEO': 'country'})
final_df.head()

,condition,country,TIME_x,prevalence_2014,prevalence_2019
0,Asthma,BE,2014,4.3,5.8
1,Chronic lower respiratory diseases (excluding ...,BE,2014,4.0,4.0
2,Heart attack or chronic consequences of heart ...,BE,2014,1.0,0.8
3,Coronary heart disease or angina pectoris,BE,2014,1.5,1.5
4,High blood pressure,BE,2014,16.5,17.4

In [32]:
# compute differences between the measures of both years
final_df['diff'] = abs(final_df['prevalence_2019'] - final_df['prevalence_2014'])
# get average of both years to be used for the analysis
final_df['prevalence'] = (final_df['prevalence_2019'] + final_df['prevalence_2014'])/2
final_df['diff'].describe()

count    279.000000
mean       0.841577
std        1.203768
min        0.000000
25%        0.200000
50%        0.500000
75%        1.100000
max       12.700000
Name: diff, dtype: float64

In [33]:
# drop other variables
final_df = final_df.drop(['TIME_x', 'prevalence_2014', 'prevalence_2019', 'diff'],1)
final_df.sort_values(by=['prevalence'], ascending=False).head(13)

               condition country  prevalence
148  High blood pressure      HU       31.70
94   High blood pressure      HR       30.95
121  High blood pressure      LV       30.55
13   High blood pressure      BG       29.65
274  High blood pressure      RS       29.60
130  High blood pressure      LT       29.00
40   High blood pressure      DE       27.35
220  High blood pressure      SK       27.10
229  High blood pressure      FI       26.10
193  High blood pressure      PT       25.95
211  High blood pressure      SI       25.10
22   High blood pressure      CZ       25.00
184  High blood pressure      PL       24.80

In [34]:
# get BMI data from Eurostat
BMI = pd.read_csv('hlth_ehis_bm1i_1_Data.csv')
# filter only data for obesity
BMI = BMI[BMI['BMI'] == 'Obese']
# rename column and drop unneccessary ones
BMI = BMI.rename(columns={'Value': 'Obesity', 'TIME': 'year'})
BMI = BMI.drop(['UNIT', 'QUANT_INC', 'SEX', 'AGE'],1)
# split up frames based on year
BMI_2014 = BMI[BMI['year'] == 2014]
BMI_2019 = BMI[BMI['year'] == 2019]
# merge frames to have the yearly measures as columns
BMI = BMI_2014.merge(BMI_2019, how='left', on=['GEO', 'BMI']).drop(['year_y'], axis = 1)
#rename columns
BMI = BMI.rename(columns={'Obesity_x': 'Obesity_2014', 'Obesity_y': 'Obesity_2019', 'year_x': 'year'})
# set missing values to NaN
BMI = BMI.replace(':', np.nan)
# remove UK
BMI = BMI[BMI.GEO != 'UK']
#conver to float
BMI['Obesity_2014'] = BMI['Obesity_2014'].astype(float)
BMI['Obesity_2019'] = BMI['Obesity_2019'].astype(float)
# replace NaN with values from previous or later round
BMI['Obesity_2014'] = np.where(pd.isna(BMI['Obesity_2014']), BMI['Obesity_2019'], BMI['Obesity_2014'])
BMI = BMI.rename(columns={'GEO': 'country', 'BMI': 'condition'})
# get average from both figures
BMI['prevalence'] = (BMI['Obesity_2019'] + BMI['Obesity_2014'])/2
# drop variables
BMI = BMI.iloc[2:]
# drop unneccessary variables
BMI = BMI.drop(['Obesity_2014', 'Obesity_2019', 'year'],1)
# set condition to obesity
BMI = BMI.assign(condition='Obesity')
BMI
#final_df.shape
#BMI_2019

   condition country  prevalence
2    Obesity      BE       15.00
3    Obesity      BG       14.00
4    Obesity      CZ       19.25
5    Obesity      DK       15.45
6    Obesity      DE       17.70
7    Obesity      EE       20.75
8    Obesity      IE       22.05
9    Obesity      EL       16.80
10   Obesity      ES       16.10
11   Obesity      FR       14.85
12   Obesity      HR       20.50
13   Obesity      IT       11.10
14   Obesity      CY       14.55
15   Obesity      LV       21.90
16   Obesity      LT       17.75
17   Obesity      LU       15.80
18   Obesity      HU       22.55
19   Obesity      MT       26.95
20   Obesity      NL       13.80
21   Obesity      AT       15.70
22   Obesity      PL       17.85
23   Obesity      PT       16.90
24   Obesity      RO       10.00
25   Obesity      SI       19.25
26   Obesity      SK       17.80
27   Obesity      FI       19.35
28   Obesity      SE       14.35
29   Obesity      IS       20.20
30   Obesity      NO       13.35
32   Obesity      RS       17.30
33   Obesity      TR       21.10

In [35]:
# concatenate obesity with other prevalences
frames = [final_df,BMI]
final_df = pd.concat(frames)
final_df

                                            condition country  prevalence
0                                              Asthma      BE        5.05
1   Chronic lower respiratory diseases (excluding ...      BE        4.00
2   Heart attack or chronic consequences of heart ...      BE        0.90
3           Coronary heart disease or angina pectoris      BE        1.50
4                                 High blood pressure      BE       16.95
..                                                ...     ...         ...
28                                            Obesity      SE       14.35
29                                            Obesity      IS       20.20
30                                            Obesity      NO       13.35
32                                            Obesity      RS       17.30
33                                            Obesity      TR       21.10

[310 rows x 3 columns]

In [36]:
# make table wide and change column names
df2 = final_df.pivot(index='country', columns='condition')
df2['country'] = df2.index
df2.columns = df2.columns.get_level_values(1)
df2.index = df2.index.get_level_values(0)
df2 = df2.rename(columns={'Chronic depression': 'Chronic_depression',
                          'Chronic lower respiratory diseases (excluding asthma)': 'Chronic_lower_respiratory_diseases',
                          'Coronary heart disease or angina pectoris': 'Coronary_heart_disease_or_angina_pectoris',
                          'Heart attack or chronic consequences of heart attack': 'Heart_attack_or_chronic_consequences_of_heart_attack',
                          'High blood pressure': 'High_blood_pressure',
                          'Kidney problems': 'Kidney_problems',
                          'Stroke or chronic consequences of stroke': 'Stroke_or_chronic_consequences_of_stroke'})
df2

condition,Asthma,Chronic_depression,Chronic_lower_respiratory_diseases,Coronary_heart_disease_or_angina_pectoris,Diabetes,Heart_attack_or_chronic_consequences_of_heart_attack,High_blood_pressure,Kidney_problems,Obesity,Stroke_or_chronic_consequences_of_stroke,
country,,,,,,,,,,,
AT,4.35,7.60,4.40,2.70,5.45,1.35,21.45,1.95,15.70,1.15,AT
BE,5.05,7.00,4.00,1.50,5.55,0.90,16.95,0.95,15.00,0.90,BE
BG,2.45,2.95,3.90,8.05,6.65,1.90,29.65,5.25,14.00,2.60,BG
CY,4.15,4.15,2.50,1.85,6.55,2.60,18.10,1.80,14.55,1.30,CY
CZ,4.55,4.15,2.15,3.55,8.25,1.85,25.00,2.50,19.25,1.30,CZ
DE,7.05,11.10,5.60,4.15,7.95,2.00,27.35,2.15,17.70,1.85,DE
DK,6.85,9.00,3.40,1.65,4.95,0.90,18.30,1.50,15.45,1.25,DK
EE,3.60,5.90,2.35,5.15,5.75,1.40,23.10,2.20,20.75,1.00,EE
EL,3.85,4.25,2.55,3.15,8.60,2.55,20.25,2.35,16.80,1.90,EL
ES,4.30,6.75,3.00,0.75,7.15,0.85,19.00,2.60,16.10,0.90,ES
FI,9.30,9.65,3.15,4.95,8.60,1.70,26.10,1.50,19.35,1.60,FI
FR,8.30,6.80,5.95,2.05,8.65,1.20,15.45,2.75,14.85,1.10,FR
HR,3.90,8.65,4.85,7.00,9.60,2.75,30.95,5.65,20.50,2.90,HR
HU,4.95,4.45,4.15,4.25,8.50,2.30,31.70,2.40,22.55,2.20,HU
IE,8.15,8.00,2.50,2.40,4.05,1.20,13.55,2.80,22.05,0.70,IE
IS,9.55,15.20,4.30,3.80,4.95,2.55,21.95,3.15,20.20,1.40,IS
IT,4.70,5.40,4.70,2.30,6.60,1.90,20.50,3.80,11.10,1.35,IT
LT,2.75,5.85,6.25,6.75,4.85,2.05,29.00,4.95,17.75,2.45,LT
LU,6.40,9.75,5.25,2.10,5.10,0.75,16.00,3.00,15.80,1.00,LU
LV,3.65,8.75,3.80,6.20,5.20,0.90,30.55,5.50,21.90,1.10,LV
MT,5.90,4.45,0.85,2.50,7.90,1.20,19.75,0.85,26.95,0.35,MT
NL,5.95,8.10,5.25,2.25,5.60,0.80,16.45,2.10,13.80,0.90,NL
NO,7.30,7.65,2.55,1.55,4.35,1.40,13.90,0.60,13.35,1.15,NO
PL,4.10,4.20,2.90,8.25,7.35,2.80,24.80,4.15,17.85,1.85,PL
PT,5.55,12.05,5.65,4.15,9.65,1.55,25.95,4.45,16.90,1.90,PT
RO,1.75,1.25,1.60,2.45,4.90,1.15,16.40,1.55,10.00,1.20,RO
RS,3.60,4.30,3.50,8.90,7.80,1.80,29.60,3.90,17.30,1.20,RS
SE,7.55,10.65,1.55,1.40,5.55,1.20,17.20,1.65,14.35,1.10,SE
SI,4.90,8.35,3.85,3.20,7.35,1.55,25.10,4.95,19.25,1.55,SI
SK,3.95,4.25,2.80,6.00,7.25,2.25,27.10,3.55,17.80,2.00,SK
TR,8.45,10.00,7.40,7.85,9.60,2.10,16.25,6.60,21.10,0.80,TR

### Estimate values for Switzerland and Montenegro

In [37]:
# use data of Croatia for Montenegro
df2 = df2.append(df2.loc[['HR'] * 1].assign(**{'': 'ME'}), ignore_index=True)

In [38]:
# use data of Serbia for Albania
df2 = df2.append(df2.loc[[26] * 1].assign(**{'': 'AL'}), ignore_index=True)
# use average of Germany and France for Switzerland
new_row = {'Asthma':(7.05+8.30)/2, 'Chronic_depression':(11.10+6.80)/2, 'Chronic_lower_respiratory_diseases':(5.60+5.95)/2,
           'Coronary_heart_disease_or_angina_pectoris':(4.15+2.05)/2, 'Diabetes':(7.95+8.65)/2,
           'Heart_attack_or_chronic_consequences_of_heart_attack':(2+1.20)/2, 'High_blood_pressure':(27.35+15.45)/2, 
           'Kidney_problems':(2.15+2.75)/2,'Obesity':(17.70+14.85)/2, 'Stroke_or_chronic_consequences_of_stroke':(1.85+1.10)/2, '': 'CH'}
#append row to the dataframe
df2 = df2.append(new_row, ignore_index=True)
df2.columns = [*df2.columns[:-1], 'country']
df2

,Asthma,Chronic_depression,Chronic_lower_respiratory_diseases,Coronary_heart_disease_or_angina_pectoris,Diabetes,Heart_attack_or_chronic_consequences_of_heart_attack,High_blood_pressure,Kidney_problems,Obesity,Stroke_or_chronic_consequences_of_stroke,country
0,4.350,7.60,4.400,2.70,5.45,1.35,21.45,1.95,15.700,1.150,AT
1,5.050,7.00,4.000,1.50,5.55,0.90,16.95,0.95,15.000,0.900,BE
2,2.450,2.95,3.900,8.05,6.65,1.90,29.65,5.25,14.000,2.600,BG
3,4.150,4.15,2.500,1.85,6.55,2.60,18.10,1.80,14.550,1.300,CY
4,4.550,4.15,2.150,3.55,8.25,1.85,25.00,2.50,19.250,1.300,CZ
5,7.050,11.10,5.600,4.15,7.95,2.00,27.35,2.15,17.700,1.850,DE
6,6.850,9.00,3.400,1.65,4.95,0.90,18.30,1.50,15.450,1.250,DK
7,3.600,5.90,2.350,5.15,5.75,1.40,23.10,2.20,20.750,1.000,EE
8,3.850,4.25,2.550,3.15,8.60,2.55,20.25,2.35,16.800,1.900,EL
9,4.300,6.75,3.000,0.75,7.15,0.85,19.00,2.60,16.100,0.900,ES
10,9.300,9.65,3.150,4.95,8.60,1.70,26.10,1.50,19.350,1.600,FI
11,8.300,6.80,5.950,2.05,8.65,1.20,15.45,2.75,14.850,1.100,FR
12,3.900,8.65,4.850,7.00,9.60,2.75,30.95,5.65,20.500,2.900,HR
13,4.950,4.45,4.150,4.25,8.50,2.30,31.70,2.40,22.550,2.200,HU
14,8.150,8.00,2.500,2.40,4.05,1.20,13.55,2.80,22.050,0.700,IE
15,9.550,15.20,4.300,3.80,4.95,2.55,21.95,3.15,20.200,1.400,IS
16,4.700,5.40,4.700,2.30,6.60,1.90,20.50,3.80,11.100,1.350,IT
17,2.750,5.85,6.250,6.75,4.85,2.05,29.00,4.95,17.750,2.450,LT
18,6.400,9.75,5.250,2.10,5.10,0.75,16.00,3.00,15.800,1.000,LU
19,3.650,8.75,3.800,6.20,5.20,0.90,30.55,5.50,21.900,1.100,LV
20,5.900,4.45,0.850,2.50,7.90,1.20,19.75,0.85,26.950,0.350,MT
21,5.950,8.10,5.250,2.25,5.60,0.80,16.45,2.10,13.800,0.900,NL
22,7.300,7.65,2.550,1.55,4.35,1.40,13.90,0.60,13.350,1.150,NO
23,4.100,4.20,2.900,8.25,7.35,2.80,24.80,4.15,17.850,1.850,PL
24,5.550,12.05,5.650,4.15,9.65,1.55,25.95,4.45,16.900,1.900,PT
25,1.750,1.25,1.600,2.45,4.90,1.15,16.40,1.55,10.000,1.200,RO
26,3.600,4.30,3.500,8.90,7.80,1.80,29.60,3.90,17.300,1.200,RS
27,7.550,10.65,1.550,1.40,5.55,1.20,17.20,1.65,14.350,1.100,SE
28,4.900,8.35,3.850,3.20,7.35,1.55,25.10,4.95,19.250,1.550,SI
29,3.950,4.25,2.800,6.00,7.25,2.25,27.10,3.55,17.800,2.000,SK
30,8.450,10.00,7.400,7.85,9.60,2.10,16.25,6.60,21.100,0.800,TR
31,3.900,8.65,4.850,7.00,9.60,2.75,30.95,5.65,20.500,2.900,ME
32,3.600,4.30,3.500,8.90,7.80,1.80,29.60,3.90,17.300,1.200,AL
33,7.675,8.95,5.775,3.10,8.30,1.60,21.40,2.45,16.275,1.475,CH

In [39]:
df2.to_csv('prevalence.csv')